[2012-12-20 18:05] howech opened #2 "Validate Resource Types"
Complain when a template tries to create a resource of a type that is not supported.

[2012-12-20 18:07] howech opened #3 "Validate Resource Property Names"
Complain if a template tries to create properties on a resource that are not supported.

[2012-12-20 18:11] howech opened #4 "Limited Validatation of Resource Property Data Types"
For properties of simple types, ensure that the supplied value matches up with the type. For properties of complex type, make sure that the value supplied is not incompatible (eg for a parameter that wants an array of structures, complain if you give it a string.)

[2012-12-20 18:14] howech opened #5 "Data driven type specifier"
Add a data driven mechanism that allows the language to treat some or all of the resource property complex data types as language objects, something like resources.

[2012-12-26 18:48] #5 closed, assigned to nobody

[2012-12-26 18:52] #3 closed, assigned to nobody

[2012-12-26 18:55] #2 closed, assigned to nobody

[2012-12-26 19:10] howech opened #6 "Better Error Handling via method_missing"
Write a method_missing in a class - perhaps JSONable that will give the user some decent feedback if he has typed in some incorrect method names.

[2012-12-26 19:15] howech opened #7 "Set up the cfn-init metadata to work like resources"
Add some data about what is allowed in aws_types. Add metadata declarators to CFTemplate. Add new types as needed for the cfn-init metadata sections.

[2013-01-07 23:29] tmcgilchrist opened #8 "Add Properties syntax for Resources"
I'm currently writing a templates for some new infrastructure and I'm finding I need to repeat the Property declaration more than I'd like.
It'd be great if you could bundle together the Property declarations for a resource.

Currently I've got the following code

[code]

It'd be nice if you could pass in a hash instead. eg

[code]

Does this sound like something that would be useful?

[2013-01-08 10:50] #6 closed, assigned to nobody

[2013-04-15 14:28] howech opened #9 "Format identifiers"
Allow the format function to work with named identifiers instead of just array indexes.

[2013-04-15 14:43] #9 closed, assigned to nobody

[2013-05-13 22:54] howech opened #11 "Better way to tag Instances"
Come up with a shorter way to tag instances.

Currently you have to:

[code]

But it would be nice if you could

[code]

[2013-05-14 06:12] #11 closed, assigned to howech

[2013-05-14 06:14] #8 closed, assigned to nobody

[2013-05-16 14:07] howech opened #13 "Unify implementations of singular/plural methods for array properties"
Basically, there should be no difference between the plural and the singular methods. If a type has an array property named "Things", the type should have methods called "Thing", "Things", "thing" and "things" that all work like the following

[code]

[2013-05-16 17:03] howech opened #15 "Better documentation"
The documentation is pretty well out of date. Update it to include recent changes.

[2013-05-16 17:04] howech opened #16 "Better test cases"
The core test cases handle internal functions and reference checking.

Need some tests that look explicitly into some json generation, and testing the edge cases on the generated property methods.

[2013-05-20 07:27] allinwonder opened #17 "Feature Request: Support for "AWS::CloudFormation::Init" and "AWS::CloudFormation::Authentication" Types"
Hi,

Is possible to add additional types support for

[code]

Thank you

[2013-05-20 14:57] #13 closed, assigned to howech

[2013-05-20 15:57] #7 closed, assigned to nobody

[2013-05-21 14:05] howech opened #18 "Provide support for AWS::CloudFormation::CustomResource"
It would be nice if there were a way to include a way to declare the custom properties and attributes that the custom resource allows, as well.

[2013-07-23 19:18] bf4 opened #21 "License missing from gemspec"
Some companies will only use gems with a certain license.
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license),

via e.g.

[code]

Even for projects that already specify a license, including a license in your gemspec is a good practice, since it is easily
discoverable there without having to check the readme or for a license file. For example,

[2013-08-27 14:40] ianneub opened #23 "Output to a string instead of STDOUT?"
Thus far I've used cfndsl to output the CF JSON via the command line, and it's been awesome.

I'd like to step it up though and integrate it into a Rails app, that stores the cfndsl code in a database and then generate the output JSON from that and then (with aws-sdk) actually launch the CF template.

I'm not quite sure how to do that. So far the only thing that I've gotten to work is to open a sh

[2013-09-26 04:56] josh-wrale opened #24 "Requesting cfndsl example based on this AWS example template"
Hi.  I'm eager to use cfndsl for a three-AZ eight-tier H/A VPC, similar to the following AWS article.  Each of the eight tiers would get a dedicated subnet, per AZ.  I'm worried about expressing this complex VPC architecture in CloudFormation, which is why I'm looking at cfndsl.

https://aws.amazon.com/articles/6079781443936876

I'm newish to Ruby, but I'm trying to port their example to cfndsl an

[2013-09-27 01:24] josh-wrale opened #25 "Errors on Mac 10.8.4, using version installed with 'gem install cfndsl'"
Am I doing something obviously wrong?

[code]

[2013-09-28 02:39] #25 closed, assigned to nobody

[2013-09-29 04:34] josh-wrale opened #26 "CloudFormation output ordering doesn't match order of cfndsl template"
Minor hang I suppose, but I think it is more efficient if the CloudFormation template renders in the order of the source cfndsl template.  I suppose making this happen is probably pretty hard, given the many abstractions cfndsl introduces.

Having parameters like "AvailabilityZone{1,2,3}" show up at random in the list makes debugging and output template sharing a little more difficult, I think.

T

[2013-10-05 03:32] josh-wrale opened #29 "One cfndsl file => multiple Cloudformation templates"
Hello again.

For large templates, the normal size limit for a single Cloudformation template is 51200 bytes.

If someone wants to create a large, layered and highly available VPC, creating a Ruby loop in cfndsl makes quick work of generating the many subnets, routes, routetables, and on.  Such a deployment if attempted with a monolithic Cloudformation template quickly expands to an illegally larg

[2013-10-23 05:51] josh-wrale opened #32 "Self-referencing SecurityGroups"
I'm trying to allow instances in a VPC-contained security group to talk to one another by self-referencing the SourceSecurityGroupID.

Here is an example of what I'm trying to do:

https://forums.aws.amazon.com/message.jspa?messageID=230251

I get various errors, depending on how I arrange things.

Here's an example of the output I'm seeing:

Invalid Reference: Resource SecGrpForPublicNAT refers t

[2013-10-24 00:08] #24 closed, assigned to nobody

[2013-10-24 00:09] #29 closed, assigned to nobody

[2014-01-29 16:16] #17 closed, assigned to nobody

[2014-01-29 16:22] howech opened #33 "Add support for Openstack Heat"
Openstack's Orchestration package, Heat, seems to be almost blow for blow similar to AWS Cloudformation (YAML instead of JSON, and some other minor diffs...)  It should not be too hard to adapt this project to also be able to drive openstack configurations.

[2014-01-29 20:00] russelw-invodo opened #34 "Add support for UpdatePolicy on AutoScalingGroups"
cfndsl does not currently support the UpdatePolicy directive on AutoScalingGroups.

This is what the cfndsl code would look like:

[code]

resulting in this JSON output

[code]

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatepolicy.html

[2014-05-13 20:35] #34 closed, assigned to nobody

[2014-05-13 21:09] #21 closed, assigned to nobody

[2014-05-14 09:14] stevenjack opened #49 "Validate against schema used by eclipse plugin"
After speaking to a number of colleagues who use the AWS [eclipse plugin](https://github.com/aws/aws-toolkit-eclipse) it seemed clear that it was using some sort of schema to validate the CF in the plugin as people were able to get feedback about incorrect params straight away.

After digging around, I found the following:

This links off to a json schema:

that has the complete list of resources

[2014-05-14 13:47] louism517 opened #50 "Publish Updated Gem?"
Be great to get a gem published with some of the latest updates. Last gem was published over a year ago.

[2014-05-14 19:48] #50 closed, assigned to nobody

[2014-07-01 21:02] howech opened #54 "The AWS Resource AWS::EC2::NetworkInterface is missing"

[2014-07-02 07:54] #23 closed, assigned to nobody

[2014-07-10 20:10] #54 closed, assigned to nobody

[2014-07-11 03:48] fedecz opened #57 "Support for userData Script"
Hi there, I haven't found support for having a script in UserData. I think it'd be useful to have for instance:

in userdata.sh

[code]

in Ruby:

[code]

of course the problem arises when instead of a simple script like the one above, you start inserting things like Ref("AWS::StackId”), and alike…

any ideas?

cheers

Fede

[2014-07-12 01:14] #57 closed, assigned to nobody

[2014-07-12 01:15] #32 closed, assigned to nobody

[2014-07-12 01:46] #26 closed, assigned to nobody

[2014-07-12 01:48] #4 closed, assigned to nobody

[2014-08-18 14:46] #33 closed, assigned to nobody

[2014-09-04 15:56] howech opened #63 "DependsOn should be constructive"
currently, the resource method "DependsOn" replaces the resources dependency list with its arguments. It would be more useful if DependsOn would append its arguments to the list of dependencies, so you could use it to accumulate dependencies.

[2014-09-25 21:41] howech opened #66 "Add some better support for base64 in FnFormat"
I often use cloud-init config style user data, and I occasionally find that I need to send the entire contents of a file to a stack as a template parameter. In many cases it is difficult to ensure soething does not get messed up (either whitespaes in the file content, or overall yaml formatting of outer userdata) when the parameter containing the file is expanded into its value. Luckily, cfn provi

[2014-09-26 16:45] howech opened #67 "The Juno release of Openstack Heat has a whole new floatilla of resources"

[2014-09-26 21:37] howech opened #68 "Unintended side effectos of PR #64 - Need better error messages for ambiguous resources."
A recent change added support for OpsWorks, which defines both a Stack and and Instance resource type. This makes it so that Instance and Stack are no longer valid top level resource names. You have to use CloudFormation_Stack or EC2_Instance or the OpsWorks _ flavors explicitly.

The trouble with this is that many existing scripts out there will now fail in cryptic ways.

The solution is to ensur

[2014-12-08 01:31] tbenade opened #72 "Nested arrays in SecurityGroupIngress property of EC2_SecurityGroup"
When trying to add ingress rules directly as a property on a SecurityGroup the array gets nested with an outer array.

[code]
Will render the following.

[code]
I can see where it is all happening...well I think so. https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/Plurals.rb#L7 I have not figured out how to fix it, if someone would like to give me some pointers I am happy to have a crac

[2015-01-06 23:43] cdandekar opened #75 "How can AWS CloudFormation help?"
cfndsl contributors and users,

Is there anything the AWS CloudFormation service could provide that can help in using and enhancing cfndsl? (For example, any additional API, any update to the template format, etc.)

Sincerely,
The AWS CloudFormation Team

[2015-01-07 15:14] howech commented on #72
Try this

[code]

Renders:
[code]

[2015-01-07 15:25] howech commented on #72
(If you insist on wanting to pass in a hash to the SecurityGroupIngress property, effectively bypassing cfndsl's type contructor for the property, you have to do it this way

[code]

There is lots of weirdness going on here. First, array type property declarations are designed to append a single item on to the list of items. If you pass it an array, it dutifully pushes the array on to the collecte

[2015-01-07 16:01] howech commented on #75
I have several ideas, here are the first couple that spring to mind.

First, cfndsl maintains a yaml representation of the currently accepted set of language features that CloudFormation supports. If you look in the code, its in lib/cfndsl/aws_types.yaml. This file has been painstakingly put together by manually scraping through the CloudFormation template reference guide. About 90% of the issues

[2015-01-07 16:39] howech commented on #66
Since Openstack does not implement the Base64 function correctly, this suggestion is more or less worthless to me

[2015-01-07 16:39] #66 closed

[2015-01-09 00:41] cdandekar commented on #75
Thanks, @howech

[2015-01-12 20:10] allinwonder commented on #75
* +1 on idea one. To avoid inconsistency, I had to fallback to use generate types and property. It will be good, AWS can provide an API to retrieve machine consumable resource tree with supported properties, also API calls to retrieve attributes and functions.
* about the second idea, The more practical solution is for CloudFormation to provide a dry-run option for stack create/update/delete, and

[2015-02-05 00:33] perkof opened #81 ""AWS::SNS::Topic" does not appear to be fully defined"
Hi there,

Thanks for all your great work on this gem. I have been using it very heavily.

It looks like AWS::SNS::Topic is not fully defined in the YAML file. I am happy to create a PR that fixes this one up.

If you could provide some guidance on your preferred path to contribution that would also be really helpful. Would you prefer I create issue and put then create the PR off the back of that

[2015-02-05 01:17] howech commented on #81
A simple PR should suffice.

On Wed, Feb 4, 2015 at 6:33 PM, Fraser Perkins <notifications@github.com>
wrote:

[2015-02-05 03:22] perkof commented on #81
PR @ https://github.com/stevenjack/cfndsl/pull/80

Interested to hear your thoughts.

[2015-02-05 10:00] #81 closed

[2015-02-10 08:22] stevenjack commented on #72
@tbenade did this help you out?

[2015-02-10 10:33] tbenade commented on #72
My apologies @stevenjack & @howech  I have not had a try yet. I will look at it shortly. One thing I would say is the types yaml https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/aws_types.yaml states the expectation is an array, hence me wanting to use an array.

Given CloudFormation supports an array in the API will the DSL support defining more than one rule?

[2015-02-12 02:28] elnica6 opened #82 "Help with conditions"
Hello-

I'm trying to setup a condition in my cfndsl but keep getting the following error (I suspect something is wrong with my syntax).
[code]

Here is my code:
[code]

If I comment out the Condition, my template renders perfectly. Can't seem to get the condition piece working right. What am I doing wrong here?

Thanks for the great tool and the help!

[2015-02-14 20:24] neillturner opened #83 "cfndsl_examples"
I have created a set of examples at:
  https://github.com/neillturner/cfndsl_examples
using cfn2dsl
from Amazon AWS Template Snippets
 http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/CHAP_TemplateQuickRef.html

[2015-02-19 15:47] cdandekar commented on #75
What kind of machine digestable description would that be?

[2015-02-19 17:07] howech commented on #75
The bulk of the cloudformation language consists of Resources and Resource
Property Types. Resources are objects that are allowed to contain
properties that have name, value type and whether or not they are required
(sometimes the the required property rules are a little complicated as they
can be data dependent.) and how changes to a property on an update will
affect the resource. Here is an exam

[2015-02-19 17:43] cdandekar commented on #75
Thanks @howech.

user guide to document the resource and resource types, cfndsl could use it
to adjust what it accepts as valid resource names, properties and resource
property types.

Do you think a JSON schema (json-schema.org) based representation would work?

[2015-02-19 18:25] howech commented on #75
It would take a little more work, but I think that that might work.

On Thu, Feb 19, 2015 at 11:43 AM, Chetan Dandekar <notifications@github.com>
wrote:

[2015-02-19 19:32] stevenjack commented on #75
I think a json schema based version would be great, that would provide most
of the causation of required fields, pattern matching and expected nodes.
On Thu, 19 Feb 2015 at 18:25, Chris Howe <notifications@github.com> wrote:

[2015-02-19 19:34] stevenjack commented on #75
Sorry that was supposed to say 'validation'
On Thu, 19 Feb 2015 at 19:32, Steven Jack <stevenmajack@gmail.com> wrote:

[2015-02-19 20:05] howech commented on #75
Excellent explanation, Steven.

Just to clarify, when I said "more work", I of course meant more work on the cfndsl side but a json schema should be fine.

[2015-02-19 22:40] elnica6 commented on #82
any love on this please? I can't seem to find any examples on using the condition resource...thanks!

[2015-02-19 23:11] stevenjack commented on #82
@elnica6 try `FnEquals` instead of `fnEquals`.

[2015-02-21 12:13] allinwonder commented on #75
- +1 JSON format
- +1 include "Update requires" field, it is good to identify properties that requires replacement
- there are some conditional properties in CFN that are hard to represent in the JSON data, for example
    - AutoScalingGroup
      -  InstanceId
        Required: Conditional. You must specify this property if you don't specify the LaunchConfigurationName property.

any idea on how

[2015-03-13 21:16] elnica6 commented on #82
Sorry for the delayed response, but I'm good to go now. Thank you!

[2015-03-24 11:03] Integralist opened #86 "Oddity where do/end block breaks expectations, but {} works fine?"
Hi @howech @stevenjack

The following code will happily generate correct CloudFormation...

[code]

But if you change `{}` on `alarms.push Resource("CPUAlarmHigh") {}` to be `do/end` like so:

[code]

Then I've found that the `Type "AWS::CloudWatch::Alarm"` doesn't get applied to the generated CloudFormation.

Any ideas why this is?

[2015-03-24 11:31] gonzalo-bulnes commented on #86
Hello @Integralist,

It look like a precedence issue, does [this explanation](https://stackoverflow.com/a/6179505) make sense to you?

[2015-03-24 16:07] howech commented on #86
I thing Gonzalo is right - its a ruby precedence thing. Calling functions
without using parans to indicate parameters can sometimes get you in
trouble.

On Tue, Mar 24, 2015 at 6:31 AM, Gonzalo Bulnes Guilpain <
notifications@github.com> wrote:

[2015-04-08 23:33] willglynn opened #90 "FnNot() feels awkward"
I find myself writing things like `FnNot(FnEquals(…))`, which is wrong, since this compiles to `{ "Fn::Not": { "Fn::Equals": … } }`. `Fn::Not` takes a single element array, so the correct formulation is `FnNot([FnEquals…])` instead.

I don't believe it's ever correct to call `FnNot()` with any parameter other than a single-element array, so… can we make the natural syntax valid? That is, if `FnNot

[2015-04-09 11:44] Integralist commented on #86
Turns out the issue is related to using `push` over `<<`. Using the double chevron fixed the problem. Previously where I had changed from `{}` to `do/end` seemed to not be the actual cause.

[2015-04-11 06:01] #82 closed

[2015-04-24 09:25] stevenjack commented on #86
@Integralist you happy for this issue to be closed?

[2015-04-24 16:23] Integralist commented on #86
Yup

[2015-04-24 16:23] #86 closed

[2015-05-07 06:45] Netmaster80 opened #92 "PreferredAvailabilityZone Property on ElastiCache_CacheCluster is incorrect"
cfndsl is expecting the property to be spelled "PreferrredAvailabilityZone" but cloudformation is expecting "PreferredAvailabilityZone", current workaround is to compile it and then fix the json file manually. Can you please change this?

[2015-05-10 16:56] stevenjack commented on #83
@neillturner These are great, just thinking of the best way of incorporating these.. @howech shall we put them in the examples folder?

[2015-05-11 10:28] stevenjack commented on #92
Mind putting a PR in to fix it?

[2015-05-19 10:17] Netmaster80 commented on #92
Pull request #94.

Thanks

[2015-05-21 00:16] rprieto opened #95 "[feature] a File() helper than can interpolate references for UserData scripts"
Hi,

I think it's quite common to have to write `userdata` scripts that contain CloudFormation references. They usually look something like this:

[code]

It would be great if the DSL allowed us to write _`userdata.sh`_ (with bonus syntax highlighting):

[code]

and then:

[code]

Is that something you `cfnsdl` already supports that I missed, or a feature you think could be useful? Note the exampl

[2015-05-27 20:06] neillturner commented on #83
Don't you can always point to them in your docs.

[2015-05-28 21:20] howech commented on #83
I am not opposed to either approach (adding a link in the dox, or adding
them to the examples).

On Wed, May 27, 2015 at 3:06 PM, Neill Turner <notifications@github.com>
wrote:

[2015-06-11 07:40] #92 closed

[2015-07-01 05:47] yumpy opened #107 "How do I format a JSON Abstracted Resource Object Property?"
I have a QueuePolicy resource which works well with cfndsl

[code]

I'm in the process of updating my 'code' to use the abstracted objects; eg:

[code]

However I'm getting a syntax error: `syntax error, unexpected =>, expecting '}'`

What's the correct way to format a PolicyDocument? The definitions in aws_types.yaml indicates a Type of JSON but I've not been able to work out how to do format thi

[2015-07-02 02:57] yumpy opened #108 "aws_types.aws AWS::SQS::Queue missing property QueueName: String"
`aws_types.aws` is missing `QueueName: String` from Properties.

it should be able to support

[code]
suggested fix:
[code]

[2015-07-02 03:22] yumpy opened #109 "SecurityGroupIngress/Egress formatting with additional []"
I have defined a SecurityGroup with an 'embedded' Ingress rule

[code]

The generated JSON for the Ingress contains an additional `[ .... ]` which is rejected by CloudFormation. This also happens for Egress as well. Note that the similar format NetworkInterfaces (in EC2_Instance) seems to work OK.

Generated:
[code]
should be:

[code]

Removing the `[ ...]` from around
[code]
in aws_types.yaml see

[2015-07-02 03:31] yumpy commented on #109
Just noticed that this has already been raised as #72

[2015-07-02 03:31] #109 closed

[2015-07-02 04:04] yumpy commented on #72
NetworkInterfaces in EC_Instance is of a similar format and this seem to generate without the nested array.
[code]

generates
[code]

from aws_types.yaml
[code]

[2015-07-02 04:06] yumpy commented on #72
As mentioned in #109 my workaround (for the moment) is to remove the `[ ... ]` from `aws_types.yaml`
[code]

[2015-07-08 06:29] yumpy commented on #83
I'd like to see these sample files being used as part of a cfndsl test suite. The original json template snippets have many un-resolved references and would need to be tidied up so that cfn2dsl can generate files that can be used by cfndsl to 're-generate' the original json.

[2015-07-10 00:28] yumpy opened #111 "Is there a cfndsl discussion forum"
Is there a cfndsl discussion forum? I'd prefer to raise questions and ideas outside of the issue tracker. Thus leaving the issue tracker for tracking issues

eg https://github.com/atom/atom uses http://www.discourse.org/
see: https://discuss.atom.io/

[2015-07-10 01:06] yumpy commented on #29
I'm having a similar challenge having breached the 51200 byte limit and splitting a template into several layers. I've decided not to nest the stacks but to treat them as separate layers.

[2015-07-10 02:21] yumpy opened #112 "Is this a good way to extend cfndsl for project specific requirements?"
I'm not a Ruby developer so I'm not sure what's a good way to extend cfndsl to support project specific requirements. For example I'd like to define a single method that can define an egress->ingress rule pair for a security. eg Web Security Group => DB Security Group on tcp port 1443.

I've got this to work but wonder if there is a better or more elegant way.

[code]

This generates:

[code]

[2015-07-11 09:55] neillturner commented on #83
I have expanded https://github.com/neillturner/cfndsl_examples with more examples and organised into directories. A little disappointed that google 'cfndsl examples' doesn't show my link. if more people link to it, it will go up the rankings.

[2015-07-14 00:13] yumpy commented on #75
Is there a problem using the Eclipse Schema "CloudFormationV1.schema" referenced in #49?

http://vstoolkit.amazonwebservices.com/CloudFormationSchema/CloudFormationV1.schema

[2015-07-15 20:54] stevenjack commented on #83
@neillturner sorry about the delay on this, I think @yumpy has a good point of these being run as part of the test suite.. I think it makes more sense for them to be part of the repo then so we can enhance the the test suite.

We can add in guidelines for when people add new fields to types that they also need to be added to the corresponding examples, would do you think?

[2015-07-15 23:11] yumpy commented on #16
See also #83 regarding a set of example templates/cfndsl that may be useful to add as a test suite.

[2015-07-16 08:02] stevenjack commented on #111
@yumpy There's a gitter channel a the top of the readme: https://gitter.im/stevenjack/cfndsl?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2015-07-16 08:16] stevenjack commented on #107
@yumpy this is the same problem explained by @howech [here](https://github.com/stevenjack/cfndsl/issues/72#issuecomment-69036757), essentially `PolicyDocument` sees the hash you've passed to it as a block instead.

I think we need some documentation around this behaviour, the correct layout would be:

[code]

[2015-07-16 08:37] yumpy commented on #111
Thanks. I'd missed that.

[2015-07-16 08:37] #111 closed

[2015-07-21 07:29] yumpy commented on #72
I've looked at the comments in  https://github.com/stevenjack/cfndsl/issues/107 but am still having problems with SecurityGroupIngress/SecurityGroupEgress where a list of rules is to be applied. (see previous comment in this issue for an example of what I'm trying to do).

[2015-07-21 19:00] webdevwilson opened #114 "Add support for IAM::Role ManagedPolicyArns"
Should be an array of Strings as documented at

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#cfn-iam-role-managepolicyarns

[2015-07-22 07:13] #114 closed

[2015-07-22 07:16] #108 closed

[2015-07-26 10:47] stevenjack commented on #95
@rprieto I know the pain you feel it's a real pain creating the userdata scripts line-by-line when you need to interpolate stack params inside the file.

Currently it's not something cfndsl supports natively. I think as you mentioned in your last comment, it's not that being able to turn a file into the string type `cfndsl` expects would be difficult but more how we express all the different types

[2015-07-26 11:02] stevenjack commented on #112
@yumpy I'd say that's a pretty good way of extending `cfndsl` for your needs, there's only a ref optimisations you could make such as:

[code]

Under the `GroupId` property do the reference there so when you pass in the names you don't have to wrap each one in a ref:

[code]

Also, if you're creating a lot of security groups then you could DRY it up a little bit by doing the following:

[code]

To

[2015-07-27 01:01] rprieto commented on #95
Thanks for getting back to me, keen to see how the conversation progresses!

[2015-07-27 02:46] howech commented on #95
Cfndsl adds a fake function called "FnFormat" that turns interpolates strings with %{tag} style tags into Fn::Join and Fn::Ref functions as required. For instance FnFormat ( "Hello %{world}") would turn into the cfn jason {"Fn::Join":["", ["Hello ", {"Ref": "world"}]}. Between that an ruby ' File.read call, you can probably get a long way towards what you are looking for.

[2015-07-27 07:39] aaronwalker opened #117 "Config driven template generation"
@aaronwalker This is great, been thinking (Not for this PR) but it could be better if you were able to define a `.cfndsl.yml` config in your project directory which could look like:

[code]

You then just run cfndsl and it'll generate the templates based on this configuration (Bonus of having default extras at the top then each template can override and have it's own extras).

With the identifier

[2015-07-27 07:57] aaronwalker commented on #117
Additional to this type of support would be to render multiple template from a single cfndsl call.

Originally I was thinking something a simple a file name globbing
[code]
where the templates directory contains multiple templates and it will generate a corresponding json file in the output directory.

With your idea it might be possible to combine this functionality will the ability to proivde ov

[2015-07-27 08:13] aaronwalker commented on #117
A separate but kind of related we use a lot of nested stacks for example

master.rb
[code]
And we would have a corresponding cfndsl template per nested and more often that not called the sample name as the filename is the TemplateURL property. In the example above we would have a vpc.rb and database.rb

Right now we need to call cfndsl for each template not a huge deal but if we could combine this

[2015-07-27 10:13] stevenjack commented on #117
@aaronwalker in regards to the first comment, I think it might be best to split that functionality away from the config driven approach rather than mixing them up. I think what you've suggested could work quite well:

`cfndsl -o output/ templates/*.rb`

So we just check if the first argument handed in is a glob, if so iterate over those templates and output them to the directory specified in `-o`.

[2015-07-27 10:14] stevenjack commented on #117
@aaronwalker could you move the second question into another issue and link it to this one, just easier to comment etc is they're distinct issues.

[2015-07-28 02:08] aaronwalker opened #118 "Support for rendering nested stacks"
nested stacks for example

master.rb

[code]

And we would have a corresponding cfndsl template per nested and more often that not called the sample name as the filename is the TemplateURL property. In the example above we would have a vpc.rb and database.rb

Right now we need to call cfndsl for each template not a huge deal but if we could combine this into a single cfndsl execution it would be p

[2015-07-28 03:12] yumpy commented on #107
Thanks. That worked.

[2015-07-28 03:12] #107 closed

[2015-07-31 15:53] webdevwilson opened #119 "Add support for IAM::Group ManagedPolicyArns"
Similar to #114, as documented at:

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html#cfn-iam-group-managepolicyarns

[2015-08-10 11:30] #119 closed

[2015-08-10 11:40] #112 closed

[2015-08-10 12:22] #90 closed

[2015-08-14 18:05] ChrisPetr0 opened #124 "Undefined symbol: EC2MountPoint - possible issue?"
The simple EC2 Example fails.  I get the error `Undefined symbol: EC2MountPoint` for the below code.
[code]
The syntax appears to be the same for BlockDeviceMappings as seen below and I get no errors.  Is there a bug for `EC2MountPoint` or am I doing something wrong?  Thanks.
[code]

[2015-08-17 14:02] #124 closed

[2015-08-17 15:56] stevenjack commented on #124
@ChrisPetr0 did you sort out the issue you were having?

[2015-08-17 17:36] ChrisPetr0 commented on #124
Hey @stevenjack , I believe the above code will still cause the issue.  My colleague got this to work, but I swear I was trying this all day Friday and getting a different error:
[code]
I closed the issue since we were able to get the volume attachment to work.  Thanks again.

Chris

[2015-08-31 07:09] neillturner opened #125 "support for google cloud deployment manager"
I might be able to add support for google deployment manager if i have the requirement in my next project. how difficult would this be?
 would need a google_types.yaml file and associated code to run it.
 what else?
 would there be a way to restructure/document code to make it easier to do this?
 in the long run would also need to do azure resource manager as aws, azure and google appear to be the

[2015-09-10 22:40] airboss commented on #72
I admit I am having problems with this too. A list of rules in Ingress/Egress only works if I do what @yumpy is doing above and remove the brackets around `EC2SecurityGroupRule`. I'm not sure if I'm working around a real problem or just not seeing a Better Way to pass a list of rules to a security group.

[2015-09-16 10:07] macdeng commented on #112
Hello, I wrote an extension based on cfndsl. Hope it will help you: https://github.com/macdeng/cfndsl_extension

[2015-11-17 21:00] neillturner opened #133 "refactor into generic and cloud specific code and support new clouds like azure resource manager etc"
Probably not helpful to suggest this as i'm sure you've got lots to do but microsoft have released their azure resource manager https://github.com/azure/azure-sdk-for-ruby which is json based so cfndsl could generate that too. -)
 Maybe you can refactor the code so it is easy for others to add azure, google, etc etc
maybe you break the code into generic parts and parts for different clouds:
 aws d

[2015-12-07 04:13] yumpy commented on #72
I've still not found a way to get this to work without removing the brackets around ```EC2SecurityGroupRule```. If anyone has managed to get it working please could you post an example here. Thanks.

[2015-12-07 18:25] rmurphy-stelligent commented on #72
@yumpy Here's how I got it to work with a single entry:

```SecurityGroupIngress( { :IpProtocol=>"tcp", :FromPort=>"22", :ToPort=>"22", :CidrIp=>"0.0.0.0/0" } )```

[2015-12-07 21:54] yumpy commented on #72
Thanks @rmurphy-stelligent. That works well. Based on your example I've also tested with passing a list in this format.

[code]

this generates

[code]

[2015-12-14 05:00] EsteeTan opened #138 "Load balancer with access log"
Hi, just want to know if we can set up load balancer with access log using cfndsl? I cant find it in the examples provided. Thanks in advance!

[2015-12-14 22:52] yumpy commented on #138
Hi @EsteeTan

you can try this to enable access logs

[code]

full example resource here :

[code]

[2015-12-15 22:39] EsteeTan commented on #138
How about using the cfndsl (ruby format)?

I tried something like this (see below) but kept getting error
	AccessLoggingPolicy({
	   "EmitInterval" => 5,
	   "Enabled" => true,
	   "S3BucketName" => "bucketname",
	   "S3BucketPrefix" => "bucketprefix"
	})

[2015-12-16 05:54] yumpy commented on #138
AccessLoggingPolicy  is not yet listed in ```aws_types.yaml``` for the LoadBalancer so I don't think you can do it that way at the moment.

[code]

[2015-12-16 05:58] EsteeTan commented on #138
Thanks for the reply! Appreciated!

[2015-12-16 11:34] stevenjack commented on #138
@EsteeTan @yumpy I'll get it added in the next few days, just needs ot be added to `aws_types.yaml`

[2015-12-16 20:56] EsteeTan commented on #138
Thanks alot!

[2015-12-22 21:04] webdevwilson opened #140 "Add support for KMS::Key"
Add support for [AWS::KMS::Key](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kms-key.html)

[2015-12-22 21:16] webdevwilson opened #142 "Add support for additional RDS properties"
Add new properties from [AWS::RDS::DBInstance](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html)

[2015-12-26 00:44] #140 closed

[2015-12-26 00:48] #142 closed

[2016-02-08 15:12] sampointer opened #149 "Pretty-formatted multi-line output JSON"
This PR https://github.com/stevenjack/cfndsl/pull/148 adds the `--pretty` option.

Formatted multi-line JSON may be important to those who'd like to diff their generated CloudFormation.

[2016-02-11 22:40] #149 closed

[2016-02-16 09:58] johnf opened #152 "Build stacks by including other ruby files"
I've created a naive implementation in #151 which would allow the following

You have a master file ```env_stack.rb```
[code]

you can then create ```_parameters_one.rb``` and ```_parameters_two.rb```
[code]

[code]

This will generate the same output as
[code]

Does this make sense?

[2016-02-16 10:06] stevenjack commented on #152
@johnf really like this idea, interesting how you're able to define a method called `include` - I thought it was a reserved keyword.

I'll take a look at the PR, I'd done something similar in a previous project but by including the different templates into one big eval, this makes a lot more sense. Nice work!

[2016-02-16 10:19] johnf commented on #152
```include``` probably is technically reserved but probably only inside a module so that might be why it works here. Actually according to http://docs.ruby-lang.org/en/2.2.0/keywords_rdoc.html maybe it isn't reserved?

I was going to go with ```Include``` originally but didn't want to risk AWS using it for something.

Maybe ```_Include``` ?

[2016-02-19 11:36] stevenjack commented on #152
I'll continue the conversation in: https://github.com/stevenjack/cfndsl/pull/151

[2016-02-20 10:22] johnf commented on #72
I think I may have identified the issue here. ```aws_types``` has the following entries

[code]

So you would expect the following to work
[code]

The ```LoadBalancer``` works fine but the ```SecurityGroup``` complains about ```EC2SecurityGroupRule``` being not found.

The issue is at https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/CloudFormationTemplate.rb#L100-L129
it takes ```Listen

[2016-02-20 10:27] johnf commented on #72
I have a feeling we should actually use ```EC2SecurityGroupRole``` since I get a wierd double show up when I try the other way. I have some code locally to make that work if it is what we want.

[2016-02-21 23:43] jedugas commented on #138
This was closed, but AccessLoggingPolicy wasn't added to the YAML. @yumpy's suggestion does work.

[2016-03-01 10:38] sampointer opened #155 "Support the Elasticsearch Service"
Amazon recently announced that Cloudformation now supports the Elasticsearch service. This PR: https://github.com/stevenjack/cfndsl/pull/154 adds the required types.

[2016-03-03 04:44] yumpy commented on #72
@johnf thanks for running with this. I look forward to your PR being merged.

[2016-03-03 07:22] #155 closed

[2016-03-08 03:55] geoffreyharrison opened #159 "Cannot exclude Metadata With if defined"
We're currently working on a Project where we are trying to define Metadata for Auto Scaling Groups. We're currently having an issue where if we code in something like:

`Metadata('AWS::CloudFormation::Init',metadata) if defined?(metadata)`

The resulting cloudformation will try to render regardless of whether the metadata variable is defined or not. The error when there is no metadata data define

[2016-03-08 14:33] stevenjack commented on #159
@geoffreyharrison The problem here is that the DSL is being parsed so no matter what the condition is your have around the DSL method, it'll still be passed and we attempt to convert it into a definition class. For the moment the best way is to default it to an empty string, I'll put an issue in to see if there's a way of indicating that we only want to include a resource property if say a conditi

[2016-03-14 06:55] johnf opened #160 "Code Cleanup?"
Howdy,

I'd like to make some more contributions to cfndsl but every time I start I find I'm held up a bit by the code. Lots of extra whitespace and some inconsistencies.

Any thoughts on using something like rubocop and doing a cleanup?

I'm happy to do the work but don't want to start if others don't feel it's worth it.

[2016-03-14 11:58] stevenjack commented on #160
@johnf I've had the same feeling, just been trying to find some time to work on it recently. I've got a few weeks off next week and this was one of the improvements I wanted to focus on so will have a PR for it shortly.

[2016-03-15 09:56] johnf commented on #160
@stevenjack I had some time last night so I made a start on it https://github.com/johnf/cfndsl/tree/rubocop

Created a rubocop.yml which I think is close as possible to what current code styles where.

Currently it is rubocop clean but I put a bunch of stuff in the rubocop.yml with ```FIXME``` that I still want to explore and try to improve one.

Unless you want to go in a direction I'm happy to k

[2016-03-18 15:19] stevenjack commented on #160
@johnf Great work so far thanks for starting this, in terms of hash rockets vs 1.9 syntax I'd like the bring this up to date and have the new syntax as the expected version.

I'd like to help out and I think the best way to move forward is I'll create a branch from your changes on here and start working on it from the top down and you could work from the bottom up? Obviously going to be some issue

[2016-03-18 20:59] johnf commented on #160
@stevenjack sounds like a plan. Looks like we're working in almost opposite time zones so I think if we merge from each other before we start any work it shouldn't be too painful.

[2016-03-18 21:20] johnf commented on #160
@stevenjack Can you check https://github.com/johnf/cfndsl/commit/28450618d209500666dc2f7d387fc1451613567b
I added some TODOs. Not sure if what's happening in there is a bug or not since we iterate through the array but do anything with the contents

[2016-03-21 10:11] johnf commented on #49
I've been having a go at trying to use this to generate the DSL.

Some initial work at https://github.com/johnf/cfndsl/tree/new_types

It's sort of getting there but I'm not really happy with it.

I'm trying to be really general to try and support everything but I think that approach makes the code to hard.

Will try and find a balance next time I get to it.

[2016-03-22 07:15] herebebogans opened #165 "Updating aws_types.yaml?"
There are a few AWS:: Resource types not defined in aws_types.yaml, an example would be the AWS::DirectoryService types.

Should I just update aws_types.yaml and submit a pull request or is there a better way?

[2016-03-22 07:15] herebebogans opened #166 "Updating aws_types.yaml?"
There are  AWS:: Resource types not defined in aws_types.yaml, an example would be the AWS::DirectoryService types.

Should I just update aws_types.yaml and submit a pull request or is there a better way?

[2016-03-22 07:16] #165 closed

[2016-03-27 11:39] neillturner commented on #125
After chatting with you on linkedin it would be best to keep this limited to cloudformation so closing.

[2016-03-27 11:39] #125 closed

[2016-03-27 11:40] neillturner commented on #133
After chatting with you on linkedin it would be best to keep this limited to cloudformation so closing.

[2016-03-27 11:40] #133 closed

[2016-03-27 11:55] neillturner opened #167 "Support environments"
All the config tools like chef, puppet ansible support environments so you can have different parameter values for different environments (i.e. the database connection string will be different from test and live).
This would be easy to implement in cfndsl and as people are used to environments in these other tools and then it is easy for folks to grasp and use. I found that a feature like this wou

[2016-03-27 23:31] johnf commented on #167
I do this by having an environment's directory which contains a YAML file for each environment. e.g.
[code]

I've also been thinking of supporting deep merging of the hashes so you could supply multiple YAML files on the command line.

I like the idea of an environment flag though.

[2016-03-28 04:57] gergnz commented on #167
we are working on this at the moment. @geoffreyharrison can supply more details on how this is working.

[2016-03-28 19:29] neillturner commented on #167
@johnf perhaps you can explain that to me a bit more. Always interested in learning from others.
 @geoffreyharrison sounds interesting. I certainly don't want to duplicate what others are doing.
thanks
@neillturner

[2016-03-31 23:40] kornypoet commented on #166
Making a Pull Request is currently the best way.

[2016-04-01 10:47] #166 closed

[2016-04-01 11:25] stevenjack commented on #167
@gergnz / @geoffreyharrison would be great to know what you guys are thinking about this. We had a similar approach to @johnfs at the last place I worked.

@neillturner thinking about the environments side of things, if we had something like:

[code]
or even:

[code]

It doesn't really feel right putting environment specific configuration into the template definition, in terms of something like ch

[2016-04-01 20:38] kornypoet commented on #167
@stevenjack I agree that this should be left up to the end user. It adds more complexity and forces the user to think about another layer of configuration abstraction when they don't have to using plain CloudFormation. Couple that with the fact that implementing environmental config is as easy as separate `.yaml` files or directories and this makes this a questionable benefit at best. My team curr

[2016-04-03 00:52] gergnz commented on #167
@stevenjack I'll try and summarise, but @geoffreyharrison would be best. I'll ping him on Monday to at least double check what I'm saying is valid.

We are using ansble to drive cfndsl and ultimately stand up the the stack. This gives us the flexibility to drive the yaml loaded as you say.  What we also do is load in defaults at each layer. Here's an example:

[code]
we then can define the environ

[2016-04-03 15:53] kornypoet commented on #167
That makes sense. Having `cfndsl` support clarified merging behavior would work for both issues I believe. Right now, the library assigns constants to the top level keys in yaml file, and would reassign if passed another file with the same key.

If `cfndsl` implemented something along the lines of [deep_merge](http://apidock.com/rails/Hash/deep_merge) with an example in the `README` would that cov

[2016-04-03 16:30] kornypoet opened #170 "External Parameters"
### Problems
The current configuration system could use some attention. These are the arguments for changing its behavior:

* Using `binding.eval` to set constants is an unsafe Ruby practice.
* Because the above method was chosen, there are potential variable, method or constant name collisions possible (you could name your configuration keys too similar to library methods or existing constants).

[2016-04-03 16:33] kornypoet commented on #167
The issue I referenced in my above comment: stevenjack/cfndsl#170

[2016-04-03 22:52] gergnz commented on #170
@kornypoet this looks awesome. Can we go even further?  if -y is a directory, load all the yaml directly in that directory and use say -r, to load yaml recursively from that direct down. Thoughts?

[2016-04-03 23:00] kornypoet commented on #170
I think we should leave the behavior of `-y` intact to not break current implementations.
Loading all in a directory and/or loading recursively is certainly doable, but needs to come with clear explanations of load order and behavior. It's simple enough to piggyback it here, but perhaps it should be made a separate request following this one?

[2016-04-04 09:06] stevenjack commented on #170
@kornypoet I was thinking the same when I was writing the example in https://github.com/stevenjack/cfndsl/issues/167 that the way we just globally define configuration constants was a fairly kludgy.

This proposal makes a lot of sense and agree we should probably look at the recursive load in a separate PR once this one's merged.

@kornypoet Are you looking to work on this? I can start looking at

[2016-04-04 09:50] stevenjack opened #171 "Code cleanup and improvments - Help needed"
We're working to improve the code base allowing easier contributions and better test coverage.

One of the first passes on this is to get rubocop passing with a minimal set of cops, then gradually increase them as we clean the code base.

The first step has been completed and I'd like to ask anyone using `cfndsl` to try out this pre release gem (work in [this](https://github.com/stevenjack/cfndsl/

[2016-04-04 11:42] ampedandwired commented on #167
Coincidentally I have recently created [a gem](https://github.com/ampedandwired/bora) which addresses many of the points in this issue, as well as #170 and #117.

To summarize, it provides:
* YAML based configuration
* Support for multiple templates, each with multiple "environments" (stacks)
* Support for plain JSON and cfndsl templates
* Define both cfndsl and CloudFormation parameters inside th

[2016-04-04 15:01] kornypoet commented on #170
@stevenjack I've got code ready to go. I'll have a PR out later today :smile:

[2016-04-04 15:17] stevenjack commented on #170
This guys on :fire:, nice one!

[2016-04-04 15:21] kornypoet commented on #171
@stevenjack For dev work, the release was cut from the `johnf_rubocop` branch right?

[2016-04-04 15:41] stevenjack commented on #171
@kornypoet yep the pre-release gem was built from the current tip of `johnf_rubocop`.

[2016-04-04 15:59] kornypoet commented on #171
`#addTag` was renamed `#add_tag`
I'm in favor of the new way, just noting that it changed/broke.

[2016-04-04 16:37] stevenjack commented on #171
@kornypoet assume you guys were using it then? Funny it's really the only method that delegates off to a resource like that. We should add it back in then deprecate the method so people are made aware it'll be changing in the next major release (Which I think we'll do once we've cleaned things up and decided on anything that needs to change that would break the current API).

[2016-04-04 17:27] kornypoet commented on #171
Yes, I think it's a good helper method. Deprecation would be safest.

[2016-04-04 22:29] kornypoet commented on #170
stevenjack/cfndsl#172

[2016-04-04 22:30] kornypoet commented on #171
Outside of that one method, I've seen no change in behavior.

[2016-04-05 15:33] ebekker commented on #75
Is this request (for machine-digestible schema) still being tracked?

I think the [current schema](http://vstoolkit.amazonwebservices.com/CloudFormationSchema/CloudFormationV1.schema) is a good start, however it is not complete when compared to the details defined in the User Guide (for example it doesn't offer some details such as "Update Requires" (Replacement | No interruption) and some of the

[2016-04-07 06:48] stevenjack commented on #171
@kornypoet I've pushed a new version out:

`1.5.1-pre`

[2016-04-07 07:03] #83 closed

[2016-04-07 07:04] stevenjack commented on #67
Not focusing on adding Openstack resources, can re-open if needs be.

[2016-04-07 07:04] #67 closed

[2016-04-07 23:21] gergnz commented on #171
I can report that besides addTag -> add_tag, nothing else seems to be an issue across all our templates.

[2016-04-08 23:01] kornypoet commented on #171
What branch was `1.5.1-pre` released from?

[2016-04-09 09:23] stevenjack commented on #171
@kornypoet 'johnf_rubocop', the one we've been making the changes in that warranted this pre release - are you seeing unexpected behaviour?

[2016-04-09 14:21] kornypoet commented on #171
Nothing unexpected. I have some more types to add to `aws_types.yaml` and I wanted to make the PR against the latest `pre` branch.

[2016-04-13 15:41] kornypoet commented on #171
I think this is ready to be released as the real gem. The rubocop changes were all positive, and non-breaking (except for the already addressed `#addTag` method). There are quite a few issues and PRs waiting on this for approval.

[2016-04-13 19:28] #160 closed

[2016-04-13 19:30] #171 closed

[2016-04-13 23:09] autotune opened #174 "Improper JSON output for dimensions."
CloudFormation looks for the following json format per [the docs](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cw-dimension.html):

    "Dimensions": [
         {
            "Name": "AutoScalingGroupName",
            "Value": { "Ref": "WebServerGroup" }
         }
      ]

When a resource like the following is used:

    Resource("CloudWatchCPU") do
       Type("A

[2016-04-14 00:41] jsywulak opened #175 "5.0 release breaks addTag"
I think the deprecation warning for addTag is broken. I'm getting this error:

```/var/lib/jenkins/.rvm/gems/ruby-2.2.1@gemset/gems/cfndsl-0.5.0/lib/cfndsl/resources.rb:15:in `addTag': private method `puts' called for #<Array:0x000000018501c8> (NoMethodError)```

Points to [this line](https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/resources.rb#L15). Sounds like logstream is an array d

[2016-04-14 08:07] stevenjack commented on #175
@jsywulak Thanks for reporting this, I assume somewhere in your application you have something defined as `logstream` that's an array - Looking at the code here I'm not sure how it would ever have worked so I'm going to put a quick PR in to fix and and push a new release out.

[2016-04-14 17:05] jsywulak commented on #175
No worries. It wasn't a huge deal: I just quickly searched and replaced to replace all our `addTag`s with `add_tag`s and we're chugging along fine now. :)

Thanks!!

[2016-04-14 21:17] gergnz commented on #175
I'm seeing this too.  Going to fix up the tags.

[2016-04-15 01:37] cmaxwellau opened #176 "Pretty printing no longer working with Rake builds"
Command line pretty printing works fine, using pretty:true in rake builds does not.
Last working version was 0.4.3, but trying to revert to this doesn't work either

[2016-04-15 02:16] cmaxwellau commented on #176
Update: This has actually never worked. I found that I had modified rake_task.rb to make it work previously.

PR on its way

[2016-04-15 06:42] #176 closed

[2016-04-15 06:55] stevenjack commented on #174
Hey @autotune I had a quick look myself and here's what I'm finding, so we're looking to generate:

[code]
and in your first example you're adding them like:

[code]

Which I would expect to return an array of two items not an array with a hash with two keys `Name` and `Value`.

With the following template:

[code]

i get the expected result:

[code]

With the `Dimensions` node in the format you m

[2016-04-15 08:24] #175 closed

[2016-04-15 08:34] #159 closed

[2016-04-15 14:42] stevenjack commented on #167
@ampedandwired great work, I've had a similar idea in terms of a number of sub `cfn-xx` gems that deal with environments, inter stack dependencies etc. Seems like `bora` is a great working example of this idea, really like the ability to pull values from one stack to another.

Completely agree on your view of `cfndsl` being exactly what it's name suggest:

The more functionality we put in the more

[2016-04-16 16:59] autotune commented on #174
Ah that did the trick, thanks @stevenjack.

[2016-04-16 20:04] stevenjack commented on #174
@autotune no problem!

[2016-04-16 20:04] #174 closed

[2016-04-18 22:22] stevenjack commented on #170
Resolved by https://github.com/stevenjack/cfndsl/pull/179

[2016-04-18 22:22] #170 closed

[2016-04-19 02:05] cmaxwellau opened #181 "Deprecation warning with rake 11.1.2"
[DEPRECATION] `last_comment` is deprecated.  Please use `last_description` instead.

PR is on its way

[2016-04-19 03:54] cmaxwellau commented on #181
Pull request sent

[2016-04-19 07:55] #181 closed

[2016-04-19 08:03] stevenjack commented on #75
@ebekker I'm not sure if @cdandekar is still following this or if they have any updates on if they're thinking about providing any sort of schema apart from the one that's currently available above.. @cdandekar can you shed any light on this?

[2016-04-19 08:06] cmaxwellau commented on #167
Hi all,

I have a system where all environment specific data is abstracted out into a definitions file which is then included in the rake build. Hoping to be able to share is with the wider world soon as I'm developing it across multiple customers concurrently

Essentially each environment is it's own rake task, this is then used to select which of the environment definitions to use.

I also have

[2016-04-20 21:51] zhelyan commented on #167
Here's my experience for what it's worth:

I don't think cfndsl should impose particular config model, the library is already good enough to be integrated and pull parameters from existing configuration management tools or from custom defined config models.
Until recently I thought exactly the opposite, trying to come up with a silver bullet and nail the configuration so it's right for all my need

[2016-04-22 00:08] herebebogans opened #184 "addTag breaks propogate argument"
Hi all,

It seems the addTag function can now never set

PropogateAtLaunch: true

Which is needed by any template that uses Autoscaling::Launchconfiguration.

I've submitted a pull request but not sure if this is the best fix.

[2016-04-22 14:34] webdevwilson commented on #75
@ebekker From a cursory glance, it looks like that would work. The inconsistencies could be an issue, but at least we would have a broader contributor base for fixing issues. Though eclipse in the title scares me a little as the eclipse foundation guidelines have been known to slow things down.

[2016-04-22 14:59] webdevwilson commented on #167
Currently, we are using cumulus (https://github.com/cotdsa/cumulus) to manage the stacks and cfndsl to generate the templates. We have a project that has two rake 'phases':

1. generate cfn templates with cfndsl
2. generate cumulus yaml files for each of our environments
3. apply updates to stacks

This allows us to have one cumulus template that contains the stack(s) definition.

I briefly consid

[2016-04-26 11:16] johnf commented on #49
@stevenjack see my previous comment. I've made some good progress but there is still a fair amount of work to make this work properly.

Is this something others see value in? I don't want to spend more time on it unless people think it's a good idea.

Also raise questions around Heat support as it will still have to work the old way. Is anyone using cfndsl to manage Heat or should it be deprecated

[2016-04-26 19:01] kornypoet commented on #184
Nice catch. You mentioned submitting a PR, but I don't see it, either open or closed?
In the meantime, you should use the `#add_tag` method, which is how it will be spelled going forward, and it _does_ correctly set `PropogateAtLaunch`.

[2016-04-26 20:23] kornypoet commented on #184
Here's mine anyway: stevenjack/cfndsl#188

[2016-04-26 23:52] herebebogans commented on #184
Sorry  - thought I submitted a PR but didn't finish it .. we've changed all our code to use add_tag but thanks for the fix.

[2016-04-27 06:07] #72 closed

[2016-04-27 06:19] #184 closed

[2016-04-27 08:04] stevenjack commented on #167
@zhelyan Agree with your perspective. I think the emerging responses in this thread is that people are already using numerous tools to provide the config management, inter stack interpolation and other features.

I'm going to close this issue as I think the general consensus here is that the original feature request isn't needed and the current functionality especially with [external parameters](h

[2016-04-27 08:04] #167 closed

[2016-04-27 16:06] rmurphy-stelligent commented on #72
FYI 0.8.3 implemented breaking changes for those who used the workaround I mentioned in December of 2015. Be ready to update the syntax before upgrading.

[2016-05-04 07:01] johnf commented on #152
Closing based on discussion in #151

[2016-05-04 07:02] #152 closed

[2016-05-04 07:03] johnf commented on #49
@stevenjack any thoughts here?

[2016-05-24 13:10] herebebogans opened #196 "-D external parameters Readme.md sample does not work"
The example of using external_parameters.fetch shown in the Readme and in sample/t1.rb does not work with the -D switch.

Example:

[code]
Interestingly this works

[code]

[2016-05-31 19:53] kornypoet commented on #196
When using the `-D` switch in legacy parameter mode, you need to quote your strings, like this:

[code]

Otherwise you will get the error you got above. I would recommend, however, to disable the binding of parameters to constants by using the `-b` switch. This interpolates variables _only_ in the external parameters hash, and it treats all values as strings. The above command will work as specifi

[2016-05-31 22:43] herebebogans commented on #196
Thanks for the info - that works much better with the -b switch.

I'm not sure the -D switch alone is working as intended.

`cfndsl  -p -D "description='my_test_description'" sample/t1.rb`

contains the single quotes in the generated output
`
{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "'my_test_description'",
  "Resources": {
    "machine1": {
      "Properties": {
        "Ima

[2016-05-31 22:44] herebebogans commented on #196
PS. I've updated the Readme.md with a working example.

[2016-05-31 22:58] kornypoet commented on #196
I can see how the behavior would be confusing, however, it is functioning as intended. The legacy behavior was to take the key-value pair from the `-D` flag and evaluate it as raw ruby code. This begets the need for quoting values twice, otherwise ruby won't compile the statement. In the new world, the behavior is to split the key-value pair at the equal sign, and create an entry in the external_p

[2016-06-02 07:02] gergnz opened #199 "How can we help?"
Hi @stevenjack,

Wondering if there is anyway we could have some of the community give you hand in maintaining the repo.

I'm happy to put my hand up as I know that maintaining an OSS project can be challenging at time mixed in between family and work commitments.

Cheers.

[2016-06-02 17:55] stevenjack commented on #199
hey @gergnz appreciate you opening up this question as it is something I've certainly been up against a few times and as you so rightly put it maintaining an OSS project can be challenging at times :D.

I'm most certainly happy to open up the floor to a discussion about anybody else who would like to be added as contributors to the repository, just add a comment in here and we can take things from

[2016-06-02 19:30] kornypoet commented on #199
👍

[2016-06-02 22:41] rowanu commented on #90
Just ran in to this issue where `FnNot` requires an array argument, but the other `Fn*` methods do not - is that intentional?

[2016-06-06 05:59] johnf commented on #199
I'd also be interested

[2016-06-06 05:59] johnf commented on #49
bump

[2016-06-23 19:57] erikmack opened #205 "Lists not rendered properly"
Somewhere between 0.6.1 and 0.7.0 lists stopped rendering as expected.

Input:
[code]

Expected output (0.6.1):
[code]

Invalid output (0.7.0):
[code]

Note that the group is rendered now as an object not a list, which is not accepted at the server.  Also, a rule is omitted.

Output is affected for both EC2 and Heat output.  This could be specific to security groups, but I suspect that all list ty

[2016-06-23 22:32] stevenjack commented on #205
@erikmack Thanks for flagging this up, I'll take a look at it shortly

[2016-06-23 22:46] stevenjack commented on #205
@erikmack I've tried your example above in both of those versions and back to version `0.4.0` and I get the same output of the single security group record. Looking at your example you have:

[code]

twice which would make sense with the behaviour you're seeing, to get the output you're seeing in `0.6.1` you'd do the following:

[code]

Could you double check you're getting those results with the

[2016-06-24 18:30] kornypoet commented on #205
@stevenjack The behavior he's probably referring to is the singular/plural additive arrays:

[code]

Yields

[code]

It was broken for properties that were already 'plural' and was addressed with this PR: https://github.com/stevenjack/cfndsl/pull/153

[2016-06-24 18:31] kornypoet commented on #205
Btw, hi @erikmack

[2016-06-25 18:58] erikmack commented on #205
I tested with the array syntax, and all's well.  Closing the issue.  Thanks for your help.

[2016-06-25 18:58] #205 closed

[2016-06-25 18:59] erikmack commented on #205
hi @kornypoet!  I'm still ignoring your warning messages...

[2016-07-01 22:20] ericzumba opened #206 "Every Resource is of Type AWS::ApiGateway::Resource in version 0.9.1"
Hey, Steven,

This is a great tool! Thanks.

I think a bug was introduced in version 0.9.1. When I run`cfndsl sample/autoscale.rb` all resources come out as `"Type": "AWS::ApiGateway::Resource"`. I maybe missing something, but I'm quite sure this is unexpected. Tested it out with version 0.9.0 and this behaviour does not exist.

I could not get my head around the problem, otherwise I'd gladly make

[2016-07-02 23:29] stevenjack commented on #206
hey @ericzumba thanks for spotting this, am looking into it now - pretty sure it's to do with the layout of the `types.yml` so should be a fairly easy fix.

[2016-07-03 01:00] ericzumba commented on #206
Cool, @stevenjack. Thanks for taking the time to look into this.
Nice work with the project btw. Excellent code.

[2016-07-04 06:46] gergnz commented on #206
This one just popped up at work. I think you need to pull 0.9.1.

[2016-07-04 09:53] gergnz commented on #206
Having a look at this one, it appears to literally be an issue with "Resource", in the type "AWS::ApiGateway::Resource". Digging further.

[2016-07-04 21:54] ericzumba commented on #206
Wow, @gergnz. Nasty bug :D

[2016-07-06 21:59] #206 closed

[2016-08-02 11:02] gergnz commented on #49
@stevenjack bump
I'd be keen to see this happen.

[2016-08-15 11:45] jstenhouse commented on #199
@stevenjack If you still need any help, I'd be interested.

[2016-08-18 07:55] stevenjack commented on #199
@gergnz @kornypoet @johnf I've added you all as collaborators as I've had a hard time keeping up with things due to a number of circumstances, I don't want to see PR's going stale and I think you three have contributed a lot to the repo.

The release process is as follows:

1. Merge PR
2. Pull latest changes down onto local copy of master
3. Run `$: rake bump[patch|minor|major]` which will automat

[2016-08-21 11:48] #199 closed

[2016-08-22 14:51] kornypoet commented on #75
@cdandekar is there any new information regarding this issue?

[2016-08-23 03:14] pvdvreede opened #222 "Move AWS Types to ruby Contracts for better and more flexible validation?"
Hi there,

One of the things I really love about cfndsl is that fast feedback you get when compiling for missing or incorrect resource names, parameters and references.

I notice at the moment that all references and properties are defined in a yaml file with a bit of data about the type. I would like to see if there is any appetite to move that to something like ruby's Contracts gem: https://gith

[2016-08-24 03:03] pvdvreede commented on #222
Thinking about this, what I might do is write my own gem that takes a json file, converts it to a hash and then validates it as a Cloudformation, just to see if there is any interest, and at least I can use it as a post processor after cfndsl if no one else is interested.

[2016-08-24 03:29] jyaworski commented on #222
I'd like to see this implemented also. It would require less processing overall and use a more ruby-centric solution.

[2016-08-24 04:23] pvdvreede commented on #222
I have started a project to validate json cloudformation templates: https://github.com/pvdvreede/cfn_validator to see how easy it is and how valuable it is.

The tests are using the AWS sample templates to make sure it is not giving false negatives. I suppose the idea is to start very permissive, that way it can be iterated over time with more checks without breaking anything.

[2016-08-25 01:35] kornypoet commented on #222
This could be very interesting. AWS CloudFormation Resources often have quite a few restrictions, some of them documented, some not. I would be in favor of implementing this as long as the current dsl structure is still supported.

Right now, we define resources as methods on a template, with a corresponding entry in a hash pointing to a class definition. The properties of the resource are defined

[2016-08-25 10:39] gergnz commented on #49
@kornypoet can you please weigh in on this?  I'd be keen to see this happen so we don't have to maintain the types.yaml file.

[2016-08-25 10:52] gergnz opened #226 "Deprecate OS Heat"
I have no idea how many people use this feature but would like to hear from those who do.

If there is no response, I'd be keen to deprecate OS Heat and focus our efforts purely on Cloudformation support.

Thoughts?

[2016-08-25 14:47] kornypoet commented on #226
This would allow us to clean up the repo quite a bit. From personal experience I know Heat only implements a subset of Cloudformation functionality. We are already chasing the elusive compatibility of AWS as it is with our `types.yaml` file. I'm in favor of removing it. Perhaps making it a separate gem? That could be involved. I would let the discussion stick around for a while before making any c

[2016-08-25 14:57] kornypoet commented on #49
I like the _idea_ of this. Things we gain:

* No longer have to support code changes to update `types.yaml`
* Offload support for keeping compatibility up to date
* Potentially large support base for maintaining the schema

Things we lose:

* The schema is now an outside dependency. We would have to version against it somehow to be able to mitigate any bugs introduced.
* We are now bound to anothe

[2016-08-25 22:21] johnf commented on #226
I'd advocate for deprecating as well, mainly because of my work on #49. If we do want to go ahead with that approach then the OS Heat code will be totally different or we'd need to convert it into the eclipse style for import.

[2016-08-25 22:25] johnf commented on #49
My thinking along being able to add our own functionality where AWS is slow is to so say have a subdirectory of files in the same format, that we add for new features. Simply deep merge them in before processing, then blow them away once upstream includes them.

[2016-08-25 22:38] gergnz commented on #49
We really need a true source of truth.  Reading this: https://github.com/fungusakafungus/cloudformation-jsonschema/issues/10#issuecomment-237965202 is a bit of a worry :(

[2016-08-26 04:26] pvdvreede commented on #226
I only use cfndsl for Cloudformation, so would also be in favour of removing Heat so that we can focus efforts and make cfndsl do the one thing really well.

[2016-08-26 04:48] pvdvreede commented on #222
Thanks for the input @jyaworski and @kornypoet. I have been trying to create a validator tool with contracts.ruby over the last 3 days and have had good success in terms of being able to create declarative types that cover most cases and allow for really fine grained validations.

The only real issue is that contracts.ruby does not really support error feedback for recursive types, which is sadly

[2016-08-30 12:59] adcreare opened #227 "0.11.0 removal of metadata has caused regression in existing templates"
#### Issue Description

Version 0.11.0 (commit https://github.com/stevenjack/cfndsl/commit/430b6a55f0c48f63de2b5e41856a8403e12054f9 ) has caused a breaking change to processing of MetaData elements in templates.

The following snip from a ASG config will generate an error of: cfndsl/module.rb:25:in `block (4 levels) in dsl_attr_setter': wrong number of arguments (2 for 1) (ArgumentError)

[code]

[2016-08-30 22:12] gergnz commented on #227
Hi @adcreare,

Thanks for reporting this.

I think you just need to change the way you are specifying your Metadata.  For example:
[code]

produces
[code]

Note, I remvoed the "," and replaced it with a rocket "=>".

From the readme (yes I had to go and read @kornypoet's updated docs to understand it myself):
https://github.com/stevenjack/cfndsl#resource-metadata
_Arguments provided must be able t

[2016-08-31 13:30] kornypoet commented on #227
Apologies for the breaking change to your template. We discussed this internally, and felt that the `MetaData` attribute was little-used enough that we could roll out the change with no impact. I'm sorry about that. The idea was to align `MetaData` more closely with the AWS [documentation](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-metadata.html) than its current i

[2016-09-05 03:13] #227 closed

[2016-09-08 13:16] bksaurabh96 opened #229 "undefined method `LoadBalancer'"
While setting up ELB I am getting no method error. Please have a look. Below are my code.

LoadBalancer(:ElasticLoadBalancer) do
	Type "AWS::ElasticLoadBalancing::LoadBalancer"
  end

**Error:**

 undefined method `LoadBalancer' for #<CfnDsl::CloudFormationTemplate:0x0000000240b008> (NoMethodError)
        from /home/vagrant/.rvm/gems/ruby-2.3.0/gems/cfndsl-0.11.0/lib/cfndsl/jsonable.rb:173:in `in

[2016-09-08 21:44] gergnz commented on #229
Hi @bksaurabh96,

LoadBalancer by itself isn't a valid type. You need to use _ElasticLoadBalancing_LoadBalancer_.

Also, if you use the name of the resource as the method, you don't need to specify type.

In your example the code should look like:
[code]
Hope that helps.

[2016-09-08 21:45] #229 closed

[2016-09-09 09:39] bksaurabh96 commented on #229
Thanks for your reply. Its working now.

[2016-09-09 09:47] bksaurabh96 opened #230 "DSL to JSON mapping not working"
I am doing a CFT conversion and figure out the issue while converting the JSOn into DSL format.
Below are the JSOn which I need but my DSL code is failing. I read examples but they are not helpful enough. Can anyone help here?

**Desired Output:**

"Mappings" : {
      "AWSInstanceType2Arch" : {
         "t2.nano" : {
            "Arch" : "HVM64"
         },
         "t1.micro" : {
            "Ar

[2016-09-09 10:48] gergnz commented on #230
Hi @bksaurabh96 ,

The following worked for me:

[code]
[code]

[2016-09-09 10:48] #230 closed

[2016-09-09 10:50] gergnz commented on #18
Just bumped into this one.  It's not obvious, but I'm going to take a look and see what I can work out.

[2016-09-09 11:10] gergnz commented on #18
I was able to create arbitrary values using the Property method:
[code]

[2016-09-09 11:10] #18 closed

[2016-09-09 11:39] matt-smith commented on #138
Afternoon all, Any progress with @jedugas's comment? I've used the workaround above for the meantime.

[2016-09-09 14:04] bksaurabh96 opened #231 "Condition Statement removing duplicates & causing issues"
Hi Team,

While executing the DSL, It's removing the duplicate content. Please see the below DSL and Desired JSON output.

**DSL Code**
`Condition("Is-EC2-VPC", { "Fn::Or": ["Fn::Equals": [(Ref("AWS::Region")), "eu-central-1"], "Fn::Equals": [(Ref("AWS::Region")), "cn-north-1"] , "Fn::Equals": [(Ref("AWS::Region")), "ap-northeast-2"] ]})`

**Current Output:**
vagrant@vagrant:/vagrant/test_cfndsl$

[2016-09-09 15:57] kornypoet commented on #231
Looking into this

[2016-09-09 19:31] kornypoet commented on #231
@bksaurabh96 So I found a couple of things:

What you are trying to do in `cfndsl` is possible, but not the way you've specified it. In order to take advantage of the dsl, when using the functions, they have to be invoked as a method. You have them specified as a key in a hash.

[code]

Secondly, in your desired output you mention wanting a second condition. You don't have it in your original dsl

[2016-09-09 19:35] kornypoet opened #232 "Clarify Functions"
While debugging stevenjack/cfndsl#231, I noticed the functions in `lib/cfndsl/jsonable.rb` weren't all equal in terms of validation, testing and documentation. I think they could be split out into their own class, some cleanup and consolidation could be done, expanding the tests in `spec/cfndsl_spec.rb`, etc. I would be okay taking this on.

[2016-09-09 22:51] zetetic commented on #229
Just ran into this as well. Is there some heuristic/rule whereby we can infer the methods for each corresponding type? Or in other words, should this have been obvious to me?

[2016-09-10 00:32] gergnz commented on #229
@zetetic in my mind (and that's just me), I look at the AWS Cloudfromation docs, remove the AWS:: and replace the second :: with _.

e.g.
[code]
becomes

[code]

[2016-09-12 03:03] #138 closed

[2016-09-17 16:16] suan opened #234 ""Reverse convert" (Convert existing JSON template into cfndsl Ruby)?"
_(Preface: I tried searching for any existing issues on this topic but couldn't find any)_

I'm evaluating using either cfndsl or https://github.com/bazaarvoice/cloudformation-ruby-dsl and while I like cfndsl's syntax better, the fact that cloudformation-ruby-dsl has two-way conversion is very attractive. Are there any plans to support reverse conversion (however primitive) here?

[2016-09-17 23:23] gergnz commented on #234
Hi @suan,

That's a good question. I haven't seen anyone ask for it.  I know a few colleagues and friends have used (and wrote) [cfn2dsl](https://github.com/realestate-com-au/cfn2dsl).  This might meet your needs.

I personally have found that it was a great opportunity to revisit our templates and make them smarter (using external parameters for example) and actually reduce the number of template

[2016-09-18 00:09] suan commented on #234
Looks like `cfn2dsl` while could be improved, definitely works as a reverse converter, thanks for pointing that out!

[2016-09-18 00:09] #234 closed

[2016-09-18 00:13] suan opened #235 "`FnNot` could be improved to not require array as the argument..."
Cloudformation quite silly-ly requires the argument for `Fn::Not` to be an array, whereas it's really just a single condition inside. `cfndsl` handles a similar case nicely for `FnEquals`, where in Ruby one can just pass in the two params without them being in an array, and the correct array-based JSON is generated. However this doesn't seem to be the case for `FnNot` (you have to pass in an array

[2016-09-19 21:20] #235 closed

[2016-09-19 22:20] gergnz opened #240 "Support yaml as an output type option"
As per https://aws.amazon.com/blogs/aws/aws-cloudformation-update-yaml-cross-stack-references-simplified-substitution/,  we should support YAML as an output type option.

[2016-09-19 22:21] gergnz opened #241 "Support new function "Sub""
As per https://aws.amazon.com/blogs/aws/aws-cloudformation-update-yaml-cross-stack-references-simplified-substitution/, we should add support and tests for new function type "Sub"

[2016-09-19 22:22] gergnz opened #242 "Support Import and Export of values for cross stack referencing"
As per https://aws.amazon.com/blogs/aws/aws-cloudformation-update-yaml-cross-stack-references-simplified-substitution/, we should add support for exporting and importing references to items.

[2016-09-20 03:54] cmaxwellau commented on #75
I'm in touch with the Cloudformation service team.

Having a schema is on the roadmap but I'm not in a position to talk about possible release dates.

[2016-09-20 03:56] cmaxwellau commented on #49
The eclipse SDK is out of date. See issue #75.The service team is definitely aware of the need for a schema. I'll post updates there if/when I am able.

[2016-09-20 07:05] cmaxwellau commented on #240
Great start, does this output the more optimised function format? i.e.
`!FindInMap [AWSInstanceType2Arch, !Ref InstanceType, Arch]`

[2016-09-20 07:08] gergnz commented on #240
No, I totally cheated model.to_json.to_yaml (basically)

To do the optimised output would need some refactoring, I wanted to get an MVP out soonish though.

[2016-09-20 09:33] cmaxwellau commented on #240
Np. I had a thought on refactoring.. mostly beginning with changing the name of jsonable 😀. There are a few other optimisations such as FnGetAtt too

[2016-09-20 09:34] cmaxwellau commented on #242
Is anyone working on this right now? If not I'm happy to run with it, just want to check before coding

[2016-09-20 09:38] gergnz commented on #242
@cmaxwellau I haven't started on it, go for it, otherwise I'll probably work on it over the next week.

[2016-09-20 09:41] cmaxwellau commented on #242
Thanks @gergnz. I've got a customer that wants it tomorrow. It doesn't seem too difficult so I'll have a crack at it tonight.

[2016-09-20 09:50] gergnz commented on #242
That'll be awesome if you bang it out before @kornypoet comes on he can likely review, else I'll check it out first think in the morning.

[2016-09-20 14:12] cmaxwellau opened #246 "Uninitialized constant CfnDsl::VERSION (NameError)"
/usr/local/lib/ruby/gems/2.3.0/gems/cfndsl-0.11.1/bin/cfndsl:10:in `block in <top (required)>': uninitialized constant CfnDsl::VERSION (NameError)

[2016-09-20 14:12] cmaxwellau commented on #246
Last working version was 53363b0

[2016-09-20 17:38] kornypoet commented on #246
Looking into this.

[2016-09-20 18:30] kornypoet commented on #246
Interesting the situation that creates this. Installing cfndsl globally and using it is fine:
[code]

Including it in another project and invoking it is also fine:

[code]

The only way I can reproduce the error is by invoking cfndsl from the repo _without_ using bundler:

[code]

So, I would first recommend to _not_ use cfndsl this way, but always use `bundle exec`, no matter where you are invoki

[2016-09-20 20:16] kornypoet commented on #242
@gergnz @cmaxwellau I can have this out tomorrow if you guys haven't started.

[2016-09-20 21:24] gergnz commented on #242
@kornypoet, @cmaxwellau I haven't started, I'll let you guys talk it out as I won't have time in the next few days.

[2016-09-20 21:45] gergnz commented on #246
Resolved in #247

[2016-09-20 21:45] #246 closed

[2016-09-20 22:02] kornypoet opened #248 "Handle Serialization Generically"
From this PR stevenjack/cfndsl#243

Currently, there are a myriad of references all throughout the code to JSON. With the advent of CloudFormation accepting YAML, we should revisit the serialization process and perhaps break it into steps and generalize some specifics.

[2016-09-21 02:26] cmaxwellau commented on #242
@kornypoet @gergnz Initial commit :)

[2016-09-21 02:27] cmaxwellau opened #250 "Support for Fn::EachMemberEquals, Fn::EachMemberIn, Fn::RefAll, Fn::ValueOf , Fn::ValueOfAll"
As described at http://docs.aws.amazon.com/servicecatalog/latest/adminguide/intrinsic-function-reference-rules.html

Fn::EachMemberEquals - Returns true if a specified string matches all values in a list of strings.

Fn::EachMemberIn - Returns true if each member in a list of strings matches at least one value in a second list of strings.

Fn::RefAll - Returns all values for a specified parameter

[2016-09-21 04:05] #240 closed

[2016-09-22 07:17] herebebogans opened #252 "Usage of CreationPolicy()"
To create JSON with a resource with CreationPolicy atrribute such as

Can only do so by calling CreationPolicy() twice such as

Not sure how to change creation_policy.rb to make it more like the rest of the DSL eg something like

[2016-09-22 19:28] kornypoet commented on #252
It's a similar issue to what I encountered with `Metadata`. The problem here is that `CreationPolicy` is assigned to `Resource` as a `dsl_content_object`. This requires the method invocation to have 2 arguments, and combines all invocations under one object, with each argument pair becoming key-value pairs in a hash. This gives us the guarantee that the CreationPolicy entry in the resulting templa

[2016-09-22 23:25] gergnz commented on #252
@kornypoet, crazy idea...

I want to dump _-b_ as once you have fixed up your templates it's now redundant. I'm also a bit over seeing the add_tag deprecation on every installation (it's like I need to double check a job didn't fail in our builds cause this line pops up at gem install time).

You've discussed refactoring a number of the components and with the recent release of yaml support, we've

[2016-09-23 15:10] kornypoet commented on #252
Is this concerning CreationPolicy specifically? In general I like the approach, and breaking changes are acceptable on major release versions. So, not really a crazy idea. Probably best for a new thread though.

[2016-09-23 23:13] gergnz commented on #252
Not specifically, but we should wind it up into the bigger plans. Sorry for the noise, wanted to kick off the conversation somewhere though.

[2016-09-26 00:51] herebebogans commented on #252
Thanks guys - I guess I've got the answer to my question so happy to close this.

[2016-09-26 16:50] #252 closed

[2016-09-27 15:12] #242 closed

[2016-09-27 18:19] kidbrax opened #254 "Support Cloudformation's new YAML format."
https://aws.amazon.com/blogs/aws/aws-cloudformation-update-yaml-cross-stack-references-simplified-substitution/

[2016-09-27 18:20] kidbrax commented on #226
What is OS Heat?

[2016-09-27 18:22] kornypoet commented on #226
https://wiki.openstack.org/wiki/Heat

[2016-09-27 18:24] kornypoet commented on #254
stevenjack/cfndsl#243

[2016-09-28 18:00] kidbrax commented on #226
Ah, thanks.  I would vote for deprecating and focusing on CF

[2016-09-28 18:01] kidbrax commented on #254
Damnit, I swear I searched for related tix first.  Thanks

[2016-09-28 18:01] #254 closed

[2016-09-28 21:00] suan opened #255 "Direct Ruby Interface?"
We're using cfndsl in an automated fashion from a Ruby project and it'd be nice if there was an officially supported direct-Ruby interface to invoke cfndsl, rather than have to shell out - looks like everything is pretty well-packaged in `.eval_file_with_extras`, but one still has to first put together the default params...

[2016-09-28 21:08] kornypoet commented on #255
This is a good request. It will take some refactoring to get there, but it can (and should, I think) get done.

[2016-10-01 00:59] eric-tucker commented on #240
Has an updated gem been pushed? I don't think this flag is present in the gem I pulled down just tonight.

[2016-10-01 01:29] eric-tucker commented on #170
Isn't displaying this warning message to users about deprecation confusing when they're not even using the deprecated feature?

"The creation of constants as config is deprecated!"

I'm not even creating constants as config.  At least I don't think I am.  Get my point?  Why was the decision made to just always spit out this message?  I'm confused.

[2016-10-01 03:47] eric-tucker commented on #226
My two cents: don't try to be Terraform.  It tries to be cloud agnostic and sufferers from feature lag as a result.

[2016-10-03 04:20] domdivakaruni commented on #75
@ebekker @kornypoet @stevenjack  we are working on a solution. Stay tuned!

[2016-10-03 08:24] stevenjack commented on #226
Certainly agree that the OS Heat support whilst potentially useful to a small subset of the `cfndsl` users overcomplicates and makes improving the current codebase harder than it should be..

[2016-10-03 08:36] johnf commented on #226
I would be for deprecating as well. If Amazon end up providing a schema and I continue my work in https://github.com/johnf/cfndsl/tree/new_types then keeping OS Heat would effectively mean maintaing two totally separate code bases.

[2016-10-03 08:42] johnf commented on #49
So based on #75 it looks like AWS are working on something.

In a couple of other threads I noticed some talk about introducing a major new version with some breaking changes. If we do want to go down this path we may want to delay or not (since timing is unknown). Or alternatively introduce some changes to the DSL in preparation.

The reason I bring it up is that when I tried to create the DSL dy

[2016-10-03 09:56] gergnz commented on #49
@johnf It would be really interesting to hear about which points they are. If you don't mind taking the time to list them, that would be really great.

[2016-10-03 09:59] gergnz commented on #170
I tend to agree @eric-tucker. It's now become a habit to just add _-b_ to all new builds and anything that gets fixed up.

[2016-10-03 17:21] kornypoet opened #257 "1.0.0 Release Planning"
This thread is intended to collect and organize all of the ideas and changes leading up to and including the `1.0.0` release of `cfndsl`.

All work will take place on the `1.0.0.pre` branch following the current collaboration practices.

There will be a living document in that branch detailing out the steps necessary and those already taken on our way to release. For now that will be `CHANGELOG.md

[2016-10-03 17:22] kornypoet commented on #255
Moving to stevenjack/cfndsl#257

[2016-10-03 17:22] kornypoet commented on #226
Moving to stevenjack/cfndsl#257

[2016-10-03 17:22] kornypoet commented on #222
Moving to stevenjack/cfndsl#257

[2016-10-03 17:23] kornypoet commented on #75
Moving to stevenjack/cfndsl#257

[2016-10-03 17:23] kornypoet commented on #49
Moving to stevenjack/cfndsl#257

[2016-10-03 20:58] gergnz commented on #257
Remove deprecation warnings:
* Add tag
* external parameters

[2016-10-05 02:26] #241 closed

[2016-10-07 10:36] #196 closed

[2016-10-13 11:31] fgimian opened #259 "Suggested way of splitting code to multiple files?"
Hey there, really great job on cfndsl 😄

I just wanted to ask what the most common standards are with the library when trying to avoid a large cfndsl script.  Are you able to split a Cloudformation amongst multiple files in a directory structure (e.g. one for VPCs, one for subnets, .etc)?

Thanks heaps
Fotis

[2016-10-13 21:17] herebebogans commented on #95
The addition of FnSub() now makes this pretty simple - variables in template get interpolated via ${} tags at CF runtime. So for your example.

cfndsl template

userdata.sh

[2016-10-13 21:29] kornypoet commented on #259
This has been discussed before, with various implementation options and ideas. It's something we would like to have implemented for the `1.0.0` release, but there has been no clear consensus on how to include resources across CloudFormation stacks. If you have any preferences, or ideas we would love to hear them.

[2016-10-13 21:31] kornypoet commented on #15
Moving to stevenjack/cfndsl#257

[2016-10-13 21:31] #15 closed

[2016-10-13 21:31] kornypoet commented on #16
Moving to stevenjack/cfndsl#257

[2016-10-13 21:31] #16 closed

[2016-10-14 10:28] fgimian commented on #259
Thanks so much for your reply Travis, really appreciate it.

Honestly, I'm really not sure what would be the best way to split the code amongst multiple files.  However even the ability to logically separate everything into a few files and have it automatically combined for you would be a great start I think.

I'm currently using Terraform and really love it but am always keeping a keen eye on Clo

[2016-10-19 11:52] mrvisser opened #260 "Support for Export/Import values from stacks"
CloudFormation recently added the ability to [Export](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/outputs-section-structure.html) an `Output`, and the ability to [Import](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html) them in other stacks.

This would be great to have handy as a feature in cfndsl, but at the moment doe

[2016-10-19 12:18] herebebogans commented on #260
Both functions were added recently. FnSub is very useful and deprecates the FnFormat cfndsl method.

[2016-10-19 12:28] mrvisser commented on #260
Oh great, I didn't make that connection before I opened this issue after browsing recent commits. Looks like all that's needed is Output.Export.

[2016-10-20 12:32] pchaganti commented on #255
👍

[2016-10-31 15:10] #260 closed

[2016-10-31 17:21] mrvisser commented on #260
@kornypoet I don't think this is complete yet. Is it possible to do specify an Output as an Export?

[2016-10-31 17:25] kornypoet commented on #260
Take a look at these samples here: https://github.com/stevenjack/cfndsl/blob/master/sample/export.rb
https://github.com/stevenjack/cfndsl/blob/master/sample/import.rb

[2016-11-01 07:02] ampedandwired commented on #259
There was some good discussion of various options in #151.

I tend to use [this approach](https://gist.github.com/ampedandwired/bd79023a305fcfc493857af0fed19b99) to decompose my templates into smaller files. It has the advantage that you can reuse the template fragments many times over with different parameters. Taking it to extremes you can even distribute pre-packaged cfndsl fragments in a gem t

[2016-11-01 07:15] ampedandwired commented on #255
I would also find this very useful. In my [Bora](https://github.com/ampedandwired/bora) project, I'm invoking cfndsl directly from Ruby [like this](https://github.com/ampedandwired/bora/blob/16449b959309eb1fef701a479eb15cc3472449d2/lib/bora/stack.rb#L230). It would be much cleaner if it wasn't necessary to create a file with all the params first though.

[2016-11-04 18:34] domdivakaruni opened #264 "CFN schema"
The AWS CloudFormation team is looking to publish and maintain a machine readable schema. I imagine this will be helpful for you. :) We're thinking of a couple formats for the schema, see attached and let me know which one you prefer. Thx!
[json-schema style.zip](https://github.com/stevenjack/cfndsl/files/572375/json-schema.style.zip)
[FreeStyle.zip](https://github.com/stevenjack/cfndsl/files/5723

[2016-11-16 00:49] elmobp opened #268 "Metadata in CFN Launch Config"
Seems its unsupported by cfndsl? I had a look at at the types and its not listed on either of them, I am leaving this here for now though I am trying to work on a PR to resolve this but incase you had something on the go now?

[2016-11-16 03:09] #268 closed

[2016-11-16 08:34] herebebogans commented on #268
It's support .. sample Launch Config block.

[code]

[2016-11-16 21:46] elmobp commented on #268
Hence closing it ;) was a long day :(

[2016-11-18 16:28] dsmithwfm opened #270 "ApplicationAutoScaling::ScalableTarget not supported."
Hello,

I'm working with the default AWS ECS template with ALB autoscaling and it seems the method below is missing.  I checked https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/aws/types.yaml and I didn't see it supported.

undefined method `ApplicationAutoScaling_ScalableTarget' for #<CfnDsl::CloudFormationTemplate:0x007fa63bafab20> (NoMethodError)

[2016-11-18 16:55] dsmithwfm commented on #270
I was able to get past this by using a template resource however, support for the type would be good to add.  Also AWS::ApplicationAutoScaling::ScalingPolicy is missing.

[2016-11-18 19:50] ebekker commented on #75
Everyone interested in this should check out and provided feedback at https://github.com/stevenjack/cfndsl/issues/264

[2016-11-18 19:51] ebekker commented on #49
Everyone interested in this should check out and provide feedback at https://github.com/stevenjack/cfndsl/issues/264

[2016-11-18 19:59] ebekker commented on #264
I agree with @kornypoet that the FreeStyle is more human-digestible, however, for me, I intend to feed this into a code generator as per my initial comment (https://github.com/stevenjack/cfndsl/issues/75#issuecomment-205860069), so I could work with either style for my purposes.

[2016-11-18 20:13] ebekker commented on #264
@domdivakaruni -- once a format is finalized, do you intend to publish it on GitHub?  It would be nice if it was a medium that supported crowd-sourcing for any corrections.

[2016-11-18 21:42] kornypoet commented on #270
gem version `0.11.9` released

[2016-11-18 21:42] #270 closed

[2016-11-19 13:05] allinwonder commented on #264
@domdivakaruni by reviewing both formats, I prefer the `json-schema style`, as the complex properties have explicit links to type definitions, this means the downstream application can go deeper into property definitions and provide more accurate and comprehensive code generation.

[2016-11-20 01:08] elmobp commented on #264
+1 for the json_schema style

[2016-11-20 02:37] johnf commented on #264
I think it would be valuable to have both.

For the purposes of this project I think that the ```free style``` format is going to be much easier to deal with and provides the information required while being quite easy to work with.

On the other hand if I want to actually validate the JSON output then ```json-schema style``` will probably be more useful, since I assume I can throw it at some stan

[2016-11-20 22:52] elmobp opened #272 "Merging cfnlego, cfn2dsl into cfndsl"
Hey all,
I done a POC over the last few days of merging cfnlego into cfndsl https://github.com/elmobp/cfndsl this should give us a base for when the schema gets released as the code generation is already in place it should not be to hard to port across once the schema gets released.

With the POC I have moved all the cfnlego resources to a flat yaml file and load it from an external URL, the YAML

[2016-11-20 22:56] thebeefcake commented on #272
Awesome Idea!

[2016-11-20 23:33] gergnz commented on #272
@elmobp that sounds like a really neat idea.  The 3 projects are very closely related, and it would be really cool to have a feature complete tool set to move between cloudformation json/yaml, cfndsl, and back again and to generate skeleton code (like what the aws cli does today) to remind me of parameter names.

Keen to hear your thoughts @allinwonder.

[2016-11-20 23:51] allinwonder commented on #272
I am absolutely thrilled with this idea! The merge should give users a more feature complete tool and more integrated experience. Potentially it can save us some code when we develop against the official schema and reuse codes.

[2016-11-21 00:13] elmobp commented on #272
If everyone is good with it, I will open a PR and transfer the flat repo to here? Try keep all the repo's under a single org @gergnz you ok with me moving the flat yaml repo across as well?

[2016-11-21 00:16] gergnz commented on #272
I'd like to wait for the other timezones to jump in @elmobp, lets give it a couple of days.

[2016-11-21 01:38] elmobp opened #273 "Support for Serverless Application Model"
Hey all,

To support the new Serverless Application Model, we need to define a transform in the root of the template currently not supported by cfndsl, normal templates will continue to function with this but ideally would be nice to see a option like -t that would include the Transform.

[2016-11-21 14:00] kornypoet commented on #273
Can you elaborate on what this transform would need to look like?

[2016-11-21 14:03] kornypoet commented on #273
I found it: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-section-structure.html
It looks like it could be implemented as a Template attribute.

[2016-11-21 21:13] elmobp commented on #273
Ya, I done a quick dirty hack of it but ideally we should be able to specify the Transform and Template Versions via CLI

[2016-11-21 23:09] dsmithwfm opened #274 "issue with json module."
I'm writing a template for ECS and I have an isssue embedded JSON into the template.  Below is actually taken from an example from the repo https://github.com/neillturner/cfndsl_examples.  It generates a json template but, Cloudformation does not like it:

**"Value of property AssumeRolePolicyDocument must be an object"**

[code]

Here is the .json output

[code]

I've tried everything I can think

[2016-11-22 00:00] gergnz commented on #274
Hi @dsmithwfm,

I've take your ruby verbatim and built json from it without issue. I was able to validate and build a stack with no issues.

Are you able to show me the error you are getting?

Thanks,
Greg.

[2016-11-22 12:13] dsmithwfm commented on #274
Yes when I build mine I get:

"Value of property AssumeRolePolicyDocument must be an object"

I'm guessing this must be a version issue with a Gem, my Chef install of Ruby or something else.

[2016-11-22 21:13] dsmithwfm commented on #274
I'll attach the ruby file is someone has time to take a closer look.  I compared my json output generating this and the original and I see no issue.  I'm think the error in cloudformation could be inaccurate.  We use rake task to generate our template.  This one requires a yaml file with vars like this example:

swagger_ui:
    ami_image_id: ami-41a20f2a
    swagger_ui_version: v1
    wfm_environm

[2016-11-22 21:13] gergnz commented on #274
Hi @dsmithwfm,

I installed 2.1.8 (which shows up as p440 with --version).  And latest cfndsl (0.11.9) and haven't had an issue. Are you using the latest cfndsl?

[code]

[code]

[code]

Apologies, not being much help really. Your source ruby looks good, and seems to work fine.

[2016-11-22 21:14] dsmithwfm commented on #274
Yes:

$ cfndsl --version
cfndsl 0.11.9

[2016-11-22 21:31] gergnz commented on #274
Are you seeing the failure when validating or when building the stack?
e.g. does this pass?
[code]
I have your code working and am producing a valid template and the validation by cloudformation passes. (If I get a chance later today I'll try and stand the stack up somewhere)

[2016-11-22 21:35] dsmithwfm commented on #274
Thanks so much for the effort!  I see it when building the stack.  I tried validating and appreciate this approach.  It will surely make debugging much faster.  I see output in validating.  Now with a faster way to generate an error maybe I can keep poking and find the issue.

$ aws cloudformation validate-template --template-body file://swagger_ui.json
{
    "CapabilitiesReason": "The following r

[2016-11-22 23:23] elmobp commented on #264
We have schema!!! https://aws.amazon.com/about-aws/whats-new/2016/11/aws-cloudformation-introduces-resource-specifications-cross-stack-reference-update-and-coverage-updates/

[2016-11-22 23:34] elmobp commented on #272
POC is now using the official schema, though a few small changes required but its there!

[2016-11-23 01:21] domdivakaruni commented on #264
:)

On Tue, Nov 22, 2016 at 3:23 PM Michael Baker <notifications@github.com>
wrote:

[2016-11-23 06:51] bsideup opened #276 "Integrate CF Resource Specification"
Hi!

Starting from yesterday, AWS now publishes CF spec in JSON:
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html

Would be cool to integrate it, especially dynamically, so one don't have to update cfndsl to get the new resource definitions

[2016-11-23 06:53] bsideup commented on #272
Take a look at #276

[2016-11-23 10:31] ebekker commented on #264
@domdivakaruni, thanks for this great addition!

Can you say whether the file links published on the CFN Resource Specification [page](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html) are *stable* -- that is, will the links there always point to the latest version of their respective specs, or are the links going to change as the specs are updated?  Th

[2016-11-23 11:11] allinwonder commented on #264
@domdivakaruni the schemas are distributed in regional bases, to automate and simplify tracking the changes in each region, would you consider to create an SNS topic to allow public subscribers (email and lambda) to receive notification of schema updates?

[2016-11-23 16:41] kornypoet commented on #274
So a couple things I noticed. If you are using the swagger_ui_cleaned.txt file you attached above, you _will_ get an error about malformed PolicyDocuments. The error is not with the ECSServiceRole, however, it's with the EC2Role, farther down in your template. I copied that resource, created a json template and got the same error as you were seeing.

[code]

Secondly, when submitting your template

[2016-11-23 16:53] kornypoet commented on #276
@gergnz @johnf I am going to take a stab at this over the holiday weekend. My approach will be as follows:

* Add a command to the `cfndsl` executable to download the latest schema
* Store the schema locally at `~/.cfndsl/resource_specification.json`
* Allow a command-line flag to override the above location for both download, and template evaluation
* Invoke the download by default if the specifi

[2016-11-23 19:02] allinwonder commented on #276
@kornypoet I am not sure the following point is a good approach or not

   `Invoke the download by default if the specification file is not found (to ensure any upgraded users have immediate functionality`

My thinking is rather than download by default, the tool should use shipped schemas by default because we can have tests against the default schemas, so the quality of the integration can be as

[2016-11-23 21:33] kornypoet commented on #276
As developers working on cfndsl, one of the things we wanted to avoid was having to constantly update the schema in the repo. If we include a base schema with cfndsl, it's only a matter of time before it's outdated. From a user experience, it would be bad if someone were to newly install `cfndsl` only to find it needs to be updated immediately. The other contributors can sound in, but I personally

[2016-11-23 22:06] elmobp commented on #276
@kornypoet we could add a region flag to cli?

[2016-11-23 22:14] cmaxwellau commented on #276
How about parsing the AWS_REGION from the env in the same way that the AWS
cli does, but having ~/.cfndsl/confg instead of the aws cli config.

Also I agree with having the gem work 'out of the box' for users. Perhaps
ship with the multi region schema AND allow the gem to update it's local
version as well.

My $0.02

On Thu, Nov 24, 2016 at 9:06 AM, Michael Baker <notifications@github.com>
wrote:

[2016-11-23 22:40] kornypoet commented on #276
@elmobp We could add a region flag, but see my above concern about maintaining a map of regions -> url. I'm surprised that there is this much concern as there is hardly any variance between regions, and I imagine that having the superset of resources that I presume using us-east-1 will provide would not create any problems in other regions.
Reading from aws configuration is the best way to guarant

[2016-11-23 23:37] elmobp commented on #276
*cough* EFS ;) or w just write the region handler directly in? and not rely on the sdk port the aws region handler to cfndsl..

[2016-11-24 00:12] gergnz commented on #276
I don't want regions at all. We develop our infracode to work where ever. I didn't actually consider that it'd be so region specific (I understand why, but the interesting point is there isn't 11 versions of the docs, one for each region. Surely it would be better to have a field in the schema with support regions?). We as humans make the decision to go with or without a specific service in a full

[2016-11-24 00:22] kornypoet commented on #276
@gergnz noted. I don't see much overlap in the way we want to implement the schema and the work @elmobp has done to integrate cfnlego.

[2016-11-25 13:41] ebekker commented on #264
@allinwonder, it's not quite a notification, but I've setup a recurring task to test for changes in the Resource Specification (only against the `US East (N. Virginia)` region) and when a change is detected, the new version is captured here:  https://github.com/ezshield/posh-awscfn/tree/master/pub

[2016-11-25 13:45] ebekker commented on #264
Additionally, I've also setup a task to generate a documentation summary by pulling the first paragraph of each Property Type and Resource Type and the first paragraph of each of their child properties from the Documentation URL out of the Resource Spec.

This documentation summary can also be found [here](https://github.com/ezshield/posh-awscfn/tree/master/pub) as this file (it's a couple MiBs):

[2016-11-25 21:36] kdgregory opened #279 "eval_file_with_extras with ":raw" seems like it's trying to do two incompatible things"
I'll start by showing what I'm trying to do (which doesn't work):

[code]

So, I'm starting with one template file, and producing output for a set of tiers. There is code in the template file that relies on tier being a Ruby value rather than a CloudFormation parameter.

As written, the Rake task fails with `undefined local variable or method `dev'` (where "dev" is one of my configured tiers), bec

[2016-11-27 12:13] ebekker commented on #264
@domdivakaruni -- there is some useful information that used to be included in the v1 Schema file, but is not documented in the new Resource Specification format, such as the `allowed-values` list.

For example, in the v1 Schema, the resource `AWS::AutoScaling::AutoScalingGroup` had several properties and sub-properties that each had a fixed list of allowed values:
* `AvailabilityZones` : *(all th

[2016-11-27 21:55] elmobp commented on #264
@ebekker heh I was going to scrape the docs to generate it as well! nice work

[2016-11-28 20:44] domdivakaruni commented on #264
@ebekker @allinwonder we will soon have a way to subscribe to notifications or events for updates, as well as strongly typed values for resource properties ( and sub props). Some of the allowed values will be captured in the next releases but many of the ones you mentioned we rely on the down stream service to validate/maintain hence wont be available thru our specifications.

[2016-11-28 21:29] ebekker commented on #264
@domdivakaruni -- I know some of your allowed values are not "strongly typed" for example the availability zones which are somewhat fluid based on a particular user's account.  Say for example, you're preparing to release a new Region or AZ, and some accounts have access to it, while others don't.

So I wonder -- would it be possibly to provide *strict allowed values* vs. *relaxed suggested values

[2016-11-28 21:48] domdivakaruni commented on #264
@ebekker, great suggestion! Let us look into it.

[2016-11-28 22:15] kornypoet commented on #264
@domdivakaruni I've found a few errors and inconsistencies in the published schema. Where should I report these?

[2016-11-29 04:41] holmesjr opened #281 "Support for environment variables in lambda functions"
As per http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-environment and http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-function-environment.html

Fixed by #280

[2016-11-30 21:17] dsmithwfm commented on #274
Closing, I had ec2 where I should in fact have had ecs in this particular role.

[2016-11-30 21:17] #274 closed

[2016-12-02 18:59] adamhathcock commented on #259
I like the look of @ampedandwired 's multiple files.

I'm currently using terraform but thinking of moving back to cloud formation and really need to template some resources.

[2016-12-02 20:20] mezzatto opened #282 "Spot fleet support"
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-fleet.html

[2016-12-04 22:21] #281 closed

[2016-12-04 22:40] gergnz commented on #282
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-spotfleet.html

[2016-12-12 03:15] nikhithn opened #285 "Variable Number of Instances to a LoadBalancer"
I have been using CFNDSL to allow me to deploy a variable number of EC2 instances using loops and external_parameters, etc.  Essentially the user will input the number of instances to create, and there is a loop that will run and create all of them in the cloudformation template.

I would like to add all of the instances to a Loadbalancer, so the ElasticLoadBalancing_LoadBalancer resource with a p

[2016-12-12 03:35] ampedandwired commented on #285
You could try something like this:
[code]

[2016-12-12 03:45] nikhithn commented on #285
Thank you!  I had been using instance_names.each instead of map, but map makes much more sense since the Ref function needs to be applied to the element before it is added to the instances property.

[2016-12-12 03:45] #285 closed

[2016-12-14 17:02] aelsabbahy opened #286 "Hyphen in external parameter key throws obscure error"
The error message that's thrown when the external params file has a key defined with a hyphen in it is unclear. A clearer error would make this much quicker to troubleshoot.

Steps to reproduce:
test.rb:
[code]
params.yml:
[code]

[code]

The error appears to be caused by this line, when `key` variable has a dash in it and ruby tries to `eval` the string:
https://github.com/stevenjack/cfndsl/blob/

[2016-12-14 20:55] #282 closed

[2017-01-04 02:26] dsmithwfm opened #287 "Error specifying an SSL certificate when using an ALB"
This maybe a formatting issue but I can't seem to specify a certificate for my ALB using an ECS template.

I've tried formatting this every way I can think of and looked at working examples people have used with other DSL's.

Here is the error from Cloudformation

	Value of property Certificates must be a list of objects

Here is my resource definition:

[code]

[2017-01-04 03:49] kornypoet commented on #287
Can you post your resulting Json?

When dealing with a plural property like [Certificates](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listener.html#cfn-elasticloadbalancingv2-listener-certificates) you can either singularize the method in `cfndsl` and provide a single argument, which the dsl will Array-ify for you, or you specify the plural fo

[2017-01-04 03:55] kornypoet commented on #286
Sorry about the unclear error message. Make sure you have the latest version of `cfndsl` and then use the `-b` flag when converting templates using the executable; this should give you the key-value behavior you are looking for.

The eval code you highlighted is a holdover from a previous way of handling external parameters, by setting them as local variables. That will most likely be removed comp

[2017-01-04 04:30] kornypoet commented on #279
We are actively working on making the API for converting templates in code better, sorry for this inconvenience. In the meantime, I'd encourage you to look at using either [external parameters](https://github.com/stevenjack/cfndsl/blob/master/lib/cfndsl/external_parameters.rb)(which you can access programatically), or use the `-D` flag when setting simple key-value pairs on the command line.

The

[2017-01-04 18:38] dsmithwfm commented on #287
Thanks for the fast reply.  The first suggestion worked perfectly.  I guess I failed reading the AWS documentation and was using Certificate from my experience with ELB's.  It all makes sense now.

[2017-01-04 18:38] #287 closed

[2017-01-07 16:23] kdgregory commented on #279
The defaults should work for me; should have thought about that. Thanks.

[2017-01-08 13:39] kdgregory commented on #279
For future reference, here's my rewrite of the Rakefile per above:

[code]

[2017-01-10 22:30] mezzatto opened #288 "Error setting variable with '.'"
If I use something like this:
[code]

I get this error:

[code]

This error do not allow me to specify a dynamic instance type for my EC2 instance :(

[2017-01-11 14:43] kornypoet commented on #288
Make sure you either:
Use the `-b` flag to disable variable-binding (the recommended way). This will set `instance_type` as a key in the external parameters hash with `c4.8xlarge` as its value.

Or, make sure you properly quote the variable `-D 'instance_type="c4.8xlarge"'`. This will set `instance_type` as a local variable in your template. (This behavior is deprecated and will be removed in a fu

[2017-01-11 14:55] mezzatto commented on #288
Using `-D 'instance_type="c4.8xlarge"'` generated this:

[code]

Which is a valid JSON, but not a valid CloudFormation one.

[2017-01-11 15:04] kornypoet commented on #288
Which invocation did you use?

For the following template:

[code]

Using `bin/cfndsl sample/my_template.rb -D 'instance_type="c4.8xlarge"' -p` should generate this:

[code]

If you are using external parameters in your template like so:

[code]

Then you need the following invocation, disabling binding and no longer needing special quoting:

`bin/cfndsl sample/my_template.rb -D instance_type=c4.8

[2017-01-11 16:12] kornypoet commented on #288
The combination of `-D` and `-y` should work just fine, and in fact, you can have multiple `-y` options (which is what I would recommend in this case). They will apply in left to right order (from the command line) with any `-D` options applying last. With external_parameters, the `-D` flag is assumed to be key-value pairs, which is why it's breaking when you pass it a hash. Either flatten the has

[2017-01-11 19:00] aelsabbahy commented on #286
Thanks for clarifying, feel free to close this issue if there's another one tracking the deprecation.

[2017-01-12 14:05] mezzatto commented on #288
👍

[2017-01-12 14:05] #288 closed

[2017-01-20 16:35] #286 closed

[2017-01-20 16:35] kornypoet commented on #279
Thanks @kdgregory

[2017-01-20 16:35] #279 closed

[2017-01-29 18:30] kornypoet commented on #273
Implemented with stevenjack/cfndsl#290

[2017-01-29 18:30] #273 closed

[2017-02-21 17:00] kidbrax opened #291 "Rolename is missing from Role"
When I try to set a RoleName property for the Role resource it tells me that RoleName is not an undefined property.

Am I missing something or is that not available?

[2017-02-21 21:43] kornypoet commented on #291
released `0.12.1`

[2017-02-21 21:43] #291 closed

[2017-03-07 09:10] jaydo1 opened #294 "rake aborted! Seahorse::Client::NetworkingError:execution expired"
I've been using rake to do mass deployments which have been working fine but on the last deployment, we received this error,
rake aborted! Seahorse::Client::NetworkingError:execution expired
C:/Cloudformation/Rake:86:in `block(2 levels)in<top(required)>'
C:/Cloudformation/Rakefile:81in `each'
C:/Cloudformation/Rakefile:81in `block in <top>(required)>`
Task:TOP =>deploy (See full trace by running t

[2017-03-07 09:30] gergnz commented on #294
Hi @jaydo1,

This doesn't look like a cfndsl error, but rather a connection issue to AWS with the ruby SDK. I'm reasonably sure we aren't making any network connections in the released code base.

A quick google showed up this: https://github.com/aws/aws-sdk-ruby/issues/904. Maybe this will help?

If you still believe this is a cfndsl error. Please try and capture a trace so we can see where in cf

[2017-03-10 20:51] devops-dude opened #295 "SQS Redrive policy - fix included."
Hello,

In order to create an SQS Redrive policy I had to first make a change to aws/types.yaml.

[code]

This is my first public contribution to another persons code.  If you give me access to submit new branches I will gladly create a PR and, future PR's for any other things I find.

I have created a new project based on yours as I am using your project at a Fortune 100 company.  I have created

[2017-03-10 22:59] devops-dude commented on #295
I realized I could probably just fork and then create a PR.  Done.

[2017-03-10 22:59] #295 closed

[2017-03-12 20:20] #294 closed

[2017-03-13 18:07] eric-tucker opened #298 "Weird output in content section if string given to content doesn't end in new line"
Given the following declaration for a meta cfn init files object:

[code]
This is the output I end up with in the template:

[code]

Notice the hyphen after `content: |`

If I add a new line character to the end of content:

[code]

The hyphen disappears:

[code]

[2017-03-13 18:16] kornypoet commented on #298
I'm assuming you are generating yaml templates from the snippets you provided. The pipe `|` with ant without a hyphen `-` are different way that YAML treats scalars with newlines. See http://yaml.org/spec/1.2/spec.html section `8.1.1.2. Block Chomping Indicator`

Using IRB:
[code]

[2017-03-13 18:18] eric-tucker commented on #298
Yes.  Outputting yaml.

So this is a problem with Ruby's yaml parser.  If so, this ticket is obviously not for cfndsl to address.   :)

[2017-03-13 18:21] kornypoet commented on #298
I wouldn't even consider it to be a problem, unless you are getting an error trying to process the YAML later? Your output looks like valid YAML to me.

[2017-03-13 18:22] eric-tucker commented on #298
I wasn't aware this was valid yaml.  Now I know.  :)

[2017-03-13 18:22] #298 closed

[2017-03-21 00:15] kidbrax opened #299 "are there release notes somewhere?"
Is there a way to tell what changes are in each tag other than doing diffs ourselves?

[2017-03-21 11:04] bsideup opened #300 "YAML output format in RakeTask"
Hi!

Looks like there is no option to enable YAML output format in RakeTask.

Could you please add it?

[2017-03-21 11:19] kornypoet commented on #299
Unfortunately, there aren't.

[2017-03-21 11:21] kornypoet commented on #300
This should be pretty straightforward to implement

[2017-04-04 13:25] kornypoet opened #303 "Add AWS::Include Transform Functionality"
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html

[2017-04-07 13:35] et304383 opened #304 "Specifying multiple UpdatePolicy values is not intutitive"
I finally figured it out, but having to do this:

[code]

Seems strange.  I think UpdatePolicy should accept an array of update policies, while still preserving the current input definition if needed for a single value.

[2017-04-10 02:52] herebebogans commented on #304
@eric-tucker see here #252

[2017-04-21 05:45] elmobp opened #308 "AWS::SSM::Parameter support breaks cfndsl"
See https://github.com/stevenjack/cfndsl/pull/307 looks like Parameter is a reserved keyword

[2017-04-21 06:00] gergnz commented on #308
This looks nasty, and is similar to #206.

The simple fix is:
[code]

But feels like we are just continually working around the problem.

[2017-04-21 06:12] elmobp commented on #308
Move to a global array Parameter,Resource,Output?

[2017-04-21 06:19] gergnz commented on #308
@elmobp created 309 added Output as per your suggestion. Thoughts?

[2017-04-21 22:22] #308 closed

[2017-04-23 22:56] elmobp commented on #308
+1

[2017-05-10 23:26] #299 closed

[2017-05-11 23:15] elmobp opened #315 "Support for Lambda backed custom resources with shorthand"
Currently cfndsl does not support short hand for custom resources so it gets very ugly. An idea (Which I plan to raise a PR when I get time) would be not to validate anything thats inside of a CloudFormation_CustomResource.

If you have a look ServiceToken works fine?

[2017-05-12 03:22] kornypoet commented on #315
It's a little harder than simple not validating: the methods need to be defined on the custom resource object. Allowing people to type in _whatever_ and simply accepting could lead to a lot of weird errors, and strange behavior.
If you talking about shorthanding the ServiceToken property itself, I guess I would like to see suggestions for helper methods that are both general enough for most use-ca

[2017-05-12 03:29] elmobp commented on #315
Hm ServiceToken is fine short hand as it currently is, Im not sure how to really approach this either maybe even support a property hash or something in there?

[code]

Still looks nicer than Property heh

[2017-05-12 03:31] kornypoet commented on #315
That is doable, and I actually had to double-check that it wasn't already possible. It fits the singularizing method definitions we already use, so nothing surprising. I can't imagine it's too much work to make `Properties` work for every resource.

[2017-05-12 03:40] elmobp commented on #315
Im not to fussed just seems nicer than Property('xxx', 'xxx')

[2017-05-12 12:33] eric-tucker opened #317 "Please add InstanceProfileName property to InstanceProfile resource"
Can get around for now using Property, but direct support would be nice.

[2017-05-17 16:14] matthewa24 opened #321 "Add support for AWS Kinesis Firehose"
Type: AWS::KinesisFirehose::DeliveryStream

[2017-05-17 20:06] arothian opened #322 "Error reading specification file on 0.13.0"
Hey folks,

Pulled down the new gem version today, and it is failing with:
[code]

The magic that happens here: https://github.com/stevenjack/cfndsl/blob/master/bin/cfndsl#L75 only works if directly using the executable CLI. I'm using `CfnDsl.eval_file_with_extras` directly within ruby, leading to this file not existing.

Thoughts? It seems odd to have this magic configuration in the bin file. Per

[2017-05-17 21:00] kornypoet commented on #322
Good catch, let me take a look.

[2017-05-17 21:18] gergnz commented on #321
Hi @matthewa24,

This should now be supported that 0.13.0 and the AWS Cloudformation schema are supported.

Please let us know if this is not the case.

Thanks.

[2017-05-17 21:19] #321 closed

[2017-05-17 21:21] #317 closed

[2017-05-17 21:26] gergnz commented on #49
Closing in favour of AWS Cloudformation Schema

[2017-05-17 21:26] #49 closed

[2017-06-06 12:03] eric-tucker opened #327 "Please add support for multiple input files with deep merge"
It would be nice if we could specify multiple input files so that we can have a common set of input for any cfndsl call and then different input files for various components.

I envision something like this:
[code]

The contents should be merged, with subsequent files overwriting any duplicate keys (with a deep yaml merge) in order of input files specified on the CLI.

[2017-06-06 21:52] gergnz commented on #327
Hi @eric-tucker,

Besides the merge, you can do this today, it just overrides keys instead of merging.

I wonder if we'd want to add an option for backwards compatibility or an option to do merging.

Sounds like a good idea, would welcome a pull request :)

[2017-06-06 22:58] gergnz commented on #322
@arothian are you happy this issue is now resolved?

[2017-06-06 23:01] gergnz commented on #327
@eric-tucker want to give this ago? https://github.com/gergnz/cfndsl/tree/deepmerge327

[2017-06-07 12:00] eric-tucker commented on #327
Awesome.  I'll definitely give this a shot.

[2017-06-07 19:48] arothian commented on #322
Yeah, the fix looks good. Thanks for checking back.

[2017-06-07 19:48] #322 closed

[2017-06-07 21:49] eric-tucker commented on #327
@gergnz this is going to sound dumb, but is there a documented build process for this (to make a gem) or should I just clone and run directly from the repo at `bin/cfndsl`?

[2017-06-07 22:04] gergnz commented on #327
@eric-tucker good question.

You could achieve it two ways:

1. Use git in the Gemfile:
[code]
2. create a _test_ folder inside a clone of cfndsl and dump test code in there:
[code]

Hope that helps.

[2017-06-07 22:08] gergnz commented on #327
Of course you could just build a gem too:
[code]

[2017-06-08 15:19] eric-tucker commented on #327
So I did this:

[code]

When I try to run cfndsl (I uninstalled all previous versions):

[code]

Should this not have been brought in by the gem build?

[2017-06-08 15:24] eric-tucker commented on #327
Apparently my experience with bundler is non-existent.  Got past the above figuring out the purpose of the Gemfile.

[2017-06-08 21:40] gergnz commented on #327
Sorry about that. Fixed.

[2017-06-09 12:04] eric-tucker commented on #327
@gergnz this is working great.  I would LOVE to see this brought into mainline.  I appreciate having deep merge be the default.

What can be done to get this merged?

[2017-06-09 13:52] kornypoet commented on #327
Just a thought: so far we've been able to keep out external dependencies. ActiveSupport has a `#deep_merge` implementation that we could lift (something like 20 lines). @gergnz how do you feel about that approach?

[2017-06-10 22:47] gergnz commented on #327
@kornypoet it seems ActiveSupport deep_merge only merges hashes, where as @danielsdeleo version seems to be a lot smarter and can merge arrays and hashes or I'm doing something wrong.

[2017-06-14 09:28] gergnz commented on #327
@kornypoet I've merged in deep_merge from @danielsdeleo as the ActiveSupport one doesn't merge as I would expect it to and raised #328. Thoughts?

[2017-06-16 13:24] zsustar commented on #170
I am totally new to cfndsl.

I'm using JSON to edit CF for a quite long time and today one of my friend told me cfndsl is a good to go. So, I just did a sample run today from "README.md ", however it always showing "The creation of constants as config is deprecated!" no matter what code I put in the ruby file.

Could anyone please share some information about how to run my "Hello World" ? Thanks!

[2017-06-17 05:03] gergnz commented on #170
Hi @zsustar,

Your issue is not the same as this thread. It looks like safe_load was introduced in ruby 2.1.0.

I'll raise an issue to make sure it's noted.  I'd suggest you take a look at https://rvm.io/ or https://github.com/rbenv/rbenv to use cfndsl on EL7 and derivatives.

[2017-06-17 05:06] gergnz opened #331 "Ruby 2.1.0 is minimum required version, but we don't discuss this anywhere"
@zsustar found an issue when installing CFNDSL on EL7 which has ruby 2.0.0p648. Looking at the ruby docs for Psych:Module it looks like safe_load was introduced in 2.1.0.

I suggest we introduce a .ruby-version file and also update the documentation? Can we also specify an minimum version in the gemspec.

[2017-06-17 05:13] gergnz commented on #331
[code]

[2017-06-18 21:41] #327 closed

[2017-06-19 01:52] zsustar commented on #331
Thanks for raising this. I managed to upgreade ruby to 2.1 (also have 2.4 installed on same instance which is managed by rvm)

However I could run this on Ubuntu without same issue, so i will keep on palying on Ubuntu and test on RH later to provide more issue details.

Error ourput from RH 7 + ruby 2.1 + cfndsl 0.15
[code]

[2017-06-19 05:26] zsustar commented on #331
It turns out the jsonpp is missing from my enviroment, so all good after jsonpp installed.

For any newbie just start the CFNDSL/Ruby journey, conclusion for running cfndsl on AWS RedHat 7:

1. Enable the YUM Option Repo, this is required to install _libyaml_ which is required by the ruby.
 Edit /etc/yum.repos.d/redhat-rhui.repo , and chang _enabled=0_ to  _enabled=1_ in `[rhui-REGION-rhel-server-

[2017-06-19 21:43] #331 closed

[2017-06-20 07:31] #300 closed

[2017-07-04 00:44] #272 closed

[2017-07-04 00:44] #315 closed

[2017-07-05 03:52] andrewoh531 opened #335 "Request to include support for AWS::Logs::SubscriptionFilter"
It appears to be missing in the list of support AWS resources.

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-logs-subscriptionfilter.html

[2017-07-05 04:00] gergnz commented on #335
Hi @andrewoh531,

It looks to be there:

[code]

Are you have trouble with something in particular?

[2017-07-05 08:31] andrewoh531 commented on #335
Sorry my bad. Thanks

[2017-07-05 08:31] #335 closed

[2017-07-07 17:14] kidbrax opened #336 "list cfndsl equivalents"
when you run `cfndsl -l` it would be great if it listed the cfndsl(ruby) equivalents of each resource. maybe something like this:

[code]

[2017-07-07 22:08] gergnz commented on #336
Interesting idea @kidbrax.

Do you mean something like this:
[code]

[2017-07-10 14:39] kidbrax commented on #336
Yes, that works great. But I thought some of them were non-standard for some reason and so that conversion isn't accurate 100% of the time.  I swore I had issues with that in the past, but could be wrong.

[2017-07-10 21:24] gergnz commented on #336
If you've had issues in the past with any names not matching as expected, would love to hear about it.  The code pretty much builds up a giant list based on the types.yaml or the json spec (depending if you are on the old code or new).

The AWS is then implied. You can actually use __AWS_EC2_Instance__ if you want.

[2017-07-11 12:09] #336 closed

[2017-07-25 23:27] ervoiox opened #337 "Condition and ALB ListenerRule Conditions get merged"
Consider this:

[code]

Outputs:

[code]

cfndsl 0.15.2

[2017-07-26 00:04] ervoiox commented on #337
Ah, I don't believe Listener Rules support the cloudformation resource conditions.

[2017-07-26 00:08] ervoiox commented on #337
Condition is not supported - closing.

[2017-07-26 00:08] #337 closed

[2017-08-01 10:11] gergnz opened #338 "backtrace shown when incorrect resource name is passed to -g"
If you run with an unknown resource type when generating, cfndsl spits out a backtrace. What should happen is we capture this and suggest to the user that maybe the resource type is incorrect.

[code]

[2017-08-01 14:10] kornypoet commented on #338
We used to do something similar to this at one point. The code that handled  it was pretty messy, and it tended to obfuscate other real errors.

[2017-08-01 21:49] #338 closed

[2017-09-15 21:24] kidbrax opened #341 "How to embed parameter into string?"
I'd like to construct a ECR url such as this:

`123456.dkr.ecr.us-east-1.amazonaws.com/foo:20170923`

But I'd like for the timestamp at the end to come from a parameter:

[code]

So is there a way to use Ref('ImageTag') to build a string? similar to this?

`"123456.dkr.ecr.us-east-1.amazonaws.com/foo:#{Ref('ImageTag')}"
`

[2017-09-15 23:50] ans0600 commented on #341
@kidbrax Not sure if I fully get your question but I guess you probably looking for this:
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-join.html

Basically, you can join the 2 refs using FnJoin("",[Ref("ECR"),Ref("ImageTag")])

[2017-09-16 14:41] kidbrax commented on #341
Yes, i realized that right after i created this issue.  Thanks for following up though.

[2017-09-16 14:41] #341 closed

[2017-10-03 16:30] kornypoet opened #343 "Validate Resource Names"
Got this the other day when dynamically creating resources:

[code]

This is an AWS restriction that seems easy enough to implement in `cfndsl`, and provides faster feedback on malformed templates.

[2017-10-16 14:39] dsmithfv opened #344 "Schedule Event Rule creates an invalid JSON on FnGetAtt Arn."
I'm trying to use the ECS Schedule Task service.  Everything works except for specifying the Arn.  According to AWS documentation you must use FnGetAtt to reference the Cluster ARN and Role.

Here is my input:

[code]
This line expands improperly when I run cfndsl:

[code]

Json output for the Arn:

[code]

As you can see "Arn" gets put outside the parentheses.  Any thoughts on why this happens?

[2017-10-22 20:09] gergnz commented on #344
Hi @dsmithfv,

I'm not sure where on that page it uses a nested Ref within a Fn:GetAtt. Sorry if I've missed it.

I think you need to remove the Ref, and instead, just refer to the logical ID of your resource you wish to target.

e.g. I think something like this:
[code]
See also:
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-getatt.html
and
http://docs.

[2017-10-22 20:29] gergnz opened #347 "rubocop 0.50.0 errors"
[code]

[2017-10-31 15:06] kornypoet opened #349 "Array Issue for Nested Types"
This only seems to affect nested types that expect an array argument. There are multiple cases of this, but here is one example:

[code]

This generates:

[code]

(Notice the duplicated array of arrays). When the argument is specified singularly (eg `GroupSet 'sg-a'`) the resulting json is correct (a single array containing the specified element):

[code]

Ruby version is `2.2.8p477` in case that

[2017-11-04 05:00] stevenjack opened #352 "Transfer repo ownership"
Hey guys, I'd like to transfer the repo over to one of you as I haven't worked on it for quite some time now and you guys have done such great work it's only fair that one of you should take ownership 👍.

Let me know who you think's best @gergnz @kornypoet!

[2017-11-04 06:18] gergnz commented on #352
Thanks @stevenjack.

Not sure what you mean by ownership, but if you mean transition the repo to one of us, maybe we should setup an org/user that is cfndsl?

e.g. I just created: https://github.com/cfndsl

If you guys are happy with that, I'll send invites.

[2017-11-04 06:44] stevenjack commented on #352
@gergnz yep that's what I meant, yea I'm happy to transfer it over to an org.

[2017-11-05 11:25] lwoggardner commented on #255
So late to this issue but I have the following helper for using Cfndsl direct from ruby.

[code]
Sample usage
[code]

[2017-11-06 08:51] stevenjack commented on #352
@gergnz I've transferred the repo over to the organisation 👌

[2017-11-06 09:10] gergnz commented on #352
@stevenjack what do we need to do with travis?

[2017-11-06 19:43] gergnz commented on #255
Thanks @lwoggardner. Would you be interested in raising a PR for this?

[2017-11-06 19:45] gergnz commented on #257
@kornypoet where are we at with this do you think?

[2017-11-07 06:17] lwoggardner opened #354 "Auto discover plurals while processing the specification"
eg 'LifecycleHookSpecification' => 'LifecycleHookSpecificationList'

the specification knows this relationship because it is type 'List'

plurals is statically defined and loaded once as a global so it will take a little refactoring to fix this.  I'll send a PR when I get time.

[2017-11-07 09:14] stevenjack commented on #352
@gergnz I've checked travis and running the builds as expected under the new org:

![image](https://user-images.githubusercontent.com/527874/32485334-00724a82-c39b-11e7-9d24-8614db91b8f4.png)

In terms of ruby gems, the encrypted key that travis uses doesn't need to change and the links from ruby gems back to the documentation redirect to the new org.

With Gitter, I'm not sure if it follows the r

[2017-11-07 19:45] gergnz commented on #352
Gitter is very quiet. Winding it up might be a good idea. Thanks for looking into rubygems and travis.

[2017-11-13 01:59] kornypoet commented on #257
There have been quite a few changes made to `master` that need to get applied to the `1.0.0.pre` branch. I haven't made a lot of progress in a while. I hope to get back into the repo soon.

[2017-11-15 20:29] gergnz commented on #352
```Skipping a deployment with the rubygems provider because this repo's name does not match one specified in .travis.yml's deploy.on.repo: stevenjack/cfndsl```

Updating .travis.yml and gemspec

[2017-11-25 12:52] ervoiox opened #357 "Metadata / AWS::CloudFormation::Interface support?"
Does cfndsl support `AWS::CloudFormation::Interface` - this would make it a lot easier to view some of our templates on the AWS console. However its a bit unique from the standard resource...

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudformation-interface.html

[2017-11-26 03:55] gergnz commented on #357
Hi @ervoiox,

cfndsl doesn't support `AWS::CloudFormation::Interface` directly, but you can put any structure that's appropriate within [metadata](https://github.com/cfndsl/cfndsl#template-metadata).
e.g.
[code]

produces
[code]

Does that help?

[2017-11-26 08:03] ervoiox commented on #357
Hi @gergnz,

Yes that is perfect - thank you!

[2017-11-26 08:03] #357 closed

[2017-11-27 18:48] mikechau commented on #341
@kidbrax or for anyone else interested you can also use `FnSub`:

[code]

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-sub.html

[2017-11-30 22:10] devops-dude opened #358 "Code Deploy - missing settings"
I'm trying to define my "LoadBalancerInfo" using "AWS::CodeDeploy::DeploymentGroup":.  I get an error that it is an undefined method.  I tried updating your types.yaml file, but I still get an undefined method error.  I noticed from the AWS documentation that there are a few settings missing from CodeDeploy::DeploymentGroup...

[code]

AWS docs - http://docs.aws.amazon.com/AWSCloudFormation/latest

[2017-12-02 04:50] gergnz commented on #358
Hi @devops-dude,

can I confirm what version of the cloudformation specification file you have and the version of cfndsl?

[2017-12-06 19:01] kidbrax commented on #358
I am having the same issue with LifecyclePolicy missing from ECR_Repository.  What is the best process for submitting these requests or better yet fixing them ourselves.  Since, it appears updating the yaml is not the correct method.

cfndsl 0.16.1

[2017-12-06 19:09] gergnz commented on #358
HI @kidbrax

If you have the latest specification file from AWS and it is still not in there, the best way is to raise a support case with AWS and request that the specification file get updated to reflect current cloudformation capability.

To update the spec file you can run `cfndsl -u`. I'm currently sitting on version 1.12.0:

[code]

[2017-12-06 19:13] kidbrax commented on #358
Yes, i just updated it and it worked, thanks.  Keep forgetting about doing that.  I would recommend adding a switch to the cli to spit out the spec version though

[2017-12-07 14:30] jsywulak opened #360 "Can't get -D option to work"
Hi there--

I'm trying to leverage the -D option of CFNDSL and I'm running into an issue.  Using the example in the readme:

    CloudFormation do
      description = external_parameters.fetch(:description, 'default description')
      machines = external_parameters.fetch(:machines, 1).to_i

      Description description

      (1..machines).each do |i|
        name = "machine#{i}"
        EC2_Ins

[2017-12-07 14:46] kornypoet commented on #360
Try also using the `-b` option to disable bindings.

[code]

Long story short, the code used to `eval` arguments passed to `-D` and this behavior has been deprecated as it was unsafe and often unpredictable. The recommended approach is to use a variable file with `-y/-j` or manipulate the `CfnDsl::ExternalParameters.defaults` yourself in Ruby code ahead of time.

[2017-12-07 19:52] #358 closed

[2018-01-08 21:25] gergnz commented on #257
@kornypoet please see #361

[2018-01-14 14:42] #344 closed

[2018-01-28 23:12] gergnz commented on #257
@kornypoet with #361 merged, I think we are all up to date, and have covered everything in our wish list?  Thoughts on pushing this out?

[2018-01-29 23:08] kornypoet commented on #257
I am good with us releasing the changes you made recently, but I don't know if it's truly a 1.0 release. Some of the things I think are still outstanding are:

* Direct Ruby Interface/API
* Cleaner method definition from the resource spec
* Eliminate the `eval` and `binding()` uses entirely
* Some other rough edges

The top three are pretty important and change a lot of the internal code. There's

[2018-04-16 00:13] gergnz opened #370 "2.0.0 of the AWS Cloudformation Specification breaks cfndsl"
[code]

[2018-04-16 04:07] gergnz commented on #370
The Tag specification is inconsistent between properties

[code]

[code]

If we remove the Tags from the LaunchTemplate it works again.
[code]

[2018-04-16 04:17] gergnz commented on #370
I've pinged AWS support to see if we can get information out of the Cloudformation team on this one, but wondering if we need to cope better with this scenario somehow.

[2018-05-30 22:08] #349 closed

[2018-08-27 01:56] YYashwanth opened #374 ""Update specification" instructions could be more clear"
The deprecated version of the specification list is shipped with the default cfndsl installation.

This results in a "NoMethodError" for properties that are not supported by the specification list.

Updating the specification using cfndsl -u works and solves the errors but it would be helpful if the readme was a bit more clear on how to avoid this.

[2018-08-28 14:02] ralovely opened #375 "Composing and merging CfnDsl templates"
Hi.

First, thank you for this gem.
It takes CloudFormation to yet another level.

Question:

For larger templates, I'd like to "compose" them, a bit like CloudFormation templates can be nested.
Maybe by merging two `CloudFormation` objects, or maybe by appending.
Pseudo code to illustrate:

[code]

and/or

[code]

Of course, the merging version would pose quite a few issues, mainly with conflicti

[2018-08-30 21:25] gergnz commented on #375
Hi @ralovely,

There has been some debate about this in the past from the likes of:
@lwoggardner @johnf and @aaronwalker.

I'm not sure that anyone of their ideas have made it off their desktop or work environments into the wild yet.

I would love to see something like this also, but I haven't had the chance to sit down and work on it either sadly.

We'd happily welcome a pull-request though if yo

[2018-08-31 10:35] aaronwalker commented on #375
@gergnz I vaguely showed you this at some stage but we have done a bit of work on this of late

https://github.com/theonestack/cfhighlander which address some of these issues plus others. Right now it supports components as nested stacks and extend components (a form or merging templates) but we plan to support inlining as well in the near future.

Under the github org https://github.com/theonesta

[2018-10-29 04:10] LiamStorkey opened #376 "Value of property CreditSpecification must be an object"
When trying to make an ec2 instance run in unlimited mode, CreditSpecification does not accept any reasonable value.
e.g
[code]

Is this a known issue?

[2018-10-29 04:13] LiamStorkey commented on #376
@gergnz

[2018-10-29 04:18] #376 closed

[2018-10-29 04:19] LiamStorkey commented on #376
found https://github.com/cfndsl/cfndsl/issues/374 testing now

[2018-11-11 22:22] gergnz opened #377 "Cloudformation Specification version 2.12.0 has missing types"
[code]

[code]

[2018-11-11 22:45] #377 closed

[2018-11-21 23:10] lwoggardner opened #380 "Plural version of a subType Property behaves differently to Resource Property"
[code]

PR to come

[2018-11-29 13:38] fidalgo commented on #347
Since the PR has been merged, I believe we could close this issue, as too many open issues seems is misleading of the project shape.

[2018-12-02 19:52] #347 closed

[2018-12-03 20:54] #360 closed

[2018-12-03 20:54] #352 closed

[2018-12-03 20:55] #264 closed

[2018-12-03 20:56] #75 closed

[2018-12-07 14:35] cleblanc87 opened #382 "uninitialized constant CfnDsl::AWS::Types::Map"
This error started this morning on 16.8 and 17.pre

[2018-12-07 20:09] gergnz commented on #382
Looks to be a problem with `2.17.0` of the cloudformation spec

[2018-12-07 20:16] cleblanc87 commented on #382
@gergnz is there a way around this, or can you point me in the direction where changes are needed within cfndsl?

[2018-12-07 20:18] gergnz commented on #382
Hi @cleblanc87 there is a type that needs to be added to lib/cfndsl/patches.rb to _monkey patch_ the specification. I'm currently taking a look, but not going to have a lot of time today.

[2018-12-07 20:19] cleblanc87 commented on #382
Thanks! I'll see if I can get a PR up

[2018-12-07 20:40] #382 closed

[2018-12-07 20:58] aaronwalker commented on #382
@gergnz +💯 :)

[2018-12-08 09:32] lwoggardner commented on #380
This is going to require a breaking change.

Plural method for a list attribute inside a subType is treated the same as the singluar form - it always appends to the list which makes it impossible to use Ref or FnSplit as the target

Plural method for a list property of a Resource behaves differently to the singular form,  for array or hash it replaces the property, or singular values it appends.

[2018-12-09 04:18] gergnz opened #385 "Use the AWS-CDK as a source for patches"
Should we be storing patches as json and then patching the specification?

A note from @iann0036 suggests to use these https://github.com/awslabs/aws-cdk/tree/7a8ee2c5b704ba4565f5b5165ca9aea1e03ded07/packages/%40aws-cdk/cfnspec/spec-source

[2018-12-10 12:06] cfarrend opened #387 "'require': cannot load such file -- hana (0.17.pre.5)"
Got this error when trying to generate a template with only the cfndsl (0.17.pre.5) gem
[code]
[code]

I had to install the 'hana' gem to get it to work.
[code]

[2018-12-10 23:52] gergnz commented on #387
Should be fixed in 0.17.pre.6.

[2018-12-10 23:52] #387 closed

[2019-01-18 05:23] thinksource opened #388 "add customer properties (keywords) in cfndsl"
I would like to use dynamodb with:
[code]
the whole json is like:
[code]
How do I add this SSESpecification in my cfndsl defined dynamodb?

I did:

[code]

Always get errors.

[2019-01-19 00:03] gergnz commented on #388
An example I used:

[code]

[2019-01-21 00:54] thinksource commented on #388
I writing in your way but get error:
[code]
The error is:

[code]
and my cfndsl version is

[code]

[2019-01-21 04:06] gergnz commented on #388
Can you please confirm the version of the CFN specification you have? `cfndsl -a`

Mine is currently `2.20.0`.

Also there are fixes for recent version of the spec in `cfndsl 0.16.9` so you might also need to update.

[2019-01-21 04:19] thinksource commented on #388
I can not do cfndsl -a
[code]

[2019-01-21 04:20] gergnz commented on #388
Try and do a `cfndsl -u` first.

On Mon, 21 Jan 2019 at 15:19, Sherwin <notifications@github.com> wrote:

[2019-01-27 08:57] gergnz opened #389 "ArtifactStore and ArtifactStores are not the same thing"
similar to #380 and #354

This is actually 2 different Properties in AWS::CodePipeline::Pipeline.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-codepipeline-pipeline.html

[2019-01-27 09:29] gergnz opened #391 "Access to rubygems"
@howech or @stevenjack are one of you able to add me to the project in rubygems.org please?

[2019-01-28 09:54] gergnz commented on #389
I propose that we remove pluralisation.  There are so many edge cases in Cloudformation that we could be chasing our tail a lot.

See PRs: #390 and #392

[2019-01-28 21:14] gergnz commented on #257
Hi All,

I'm planning on releasing what we have on or about the 4 March 2019.

If there are big issues with this please let me know.

Thanks,
Greg.

/cc @lwoggardner @aaronwalker

[2019-02-10 22:54] gergnz opened #393 "support a version for cfndsl -u"
We should support a version of the cfndsl spec so that people can pin to a specific version to alleviate the pain of newer version of the spec with `cfndsl -u` when Cloudformation moves the goal posts on us.

[2019-02-10 22:57] gergnz opened #394 "confirm we are using gzip download of cloudfomration specification."

[2019-02-13 09:47] #394 closed

[2019-02-13 09:48] #393 closed

[2019-02-22 01:22] cfarrend opened #398 "cfndsl 0.16 EC2_VPCEndpoint VpcEndpointType is VPCEndpointType in CloudFormation Specification"
As mentioned, VpcEndpointType shows as VPCEndpointType in the CloudFormation specification

Using
[code]

Causes
[code]

Using
[code]

Causes
[code]

Looks like a similar issue to #370

[2019-02-22 03:21] gergnz commented on #398
Released in 0.16.11

[2019-02-22 03:21] #398 closed

[2019-02-22 03:27] #370 closed

[2019-02-23 04:15] #374 closed

[2019-02-23 21:52] gergnz opened #401 "Metrics is missing from AWS::CloudWatch::Alarm"
Metrics is missing from Cloudwatch Alarm.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cw-alarm.html#cfn-cloudwatch-alarm-metrics

[2019-02-24 19:59] #401 closed

[2019-02-24 20:11] #276 closed

[2019-02-25 11:26] lwoggardner opened #403 "1.0.0-pre bugs in OrchestrationTemplate#validate"
I've been doing some work with the 1.0.0-pre branch on some complex real life templates and have found bugs in the cyclic refs checking of the new #validate method I put together for direct ruby usage.

PR to come but will likely take more than a week.

[2019-02-26 21:52] nagliyvred opened #404 "latest specification issues with 0.16.2"
Hi cfldsl team,
It looks like the latest spec (2.24.0) doesn't work with 0.16.2.
I am getting the following:
`
NameError: uninitialized constant CfnDsl::AWS::Types::AWSEC2SpotFleetTag
Did you mean?  CfnDsl::AWS::Types::AWSEC2NetworkAclEntryPortRange
`
Am I doing something wrong?
Also, I am wondering if there is a way to find out what's the supported cfn spec for each given version of cfndsl? I am

[2019-02-27 02:08] gergnz commented on #404
Hi @nagliyvred, you'll need to update cfndsl to at least 0.16.11 (I think). We've also added a feature that allows you to update to specific version of the template if you don't need newer cloudformation specification, and thus can live without updating cfndsl: `cfndsl -u 2.20.0` for example.

Hope that helps.

[2019-02-28 02:45] nagliyvred commented on #404
Thank you @gergnz - that worked!

[2019-02-28 02:45] #404 closed

[2019-06-06 13:23] gdlx opened #406 "Handle Transform keywork"
Hi !

Is there a way to add the `Transform` keyword inside template as explained [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-section-structure.html) ?

It is possible to add custom properties at the resource level, but it seems not at the root level.

Is there a workaround ?

Note I found #303 but it's not exactly the same feature and, well, not a single answer

[2019-06-06 13:27] gdlx commented on #406
My mistake, it already works...

[2019-06-06 13:27] #406 closed

[2019-06-19 03:53] bzivic commented on #389
@gergnz any update on this issue still present.

CodePipeline ArtifactStore in cfndsl converts to ArtifactStores in cfn, instead of just ArtifactStore.

[2019-06-19 06:17] gergnz commented on #389
Hi @bzivic, sadly I wasn't able to work out a decent fix for this one.
I've successfully been using:
[code]
Do you have multiple ArtifactStores you need referenced?

[2019-08-27 06:45] cmaxwellau opened #412 "Missing patch for Tag support in AWS::IAM::Role and AWS::Serverless::Function"
This is missing from the latest upstream specification

[2019-08-27 07:27] cmaxwellau opened #414 "Support for cross-parameter validation rules"
https://aws.amazon.com/blogs/mt/how-to-perform-cross-parameter-validation-using-aws-cloudformation-rules-and-assertions/

https://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html

This is the context for the extra FnX functions in #250

[2019-08-27 07:37] cmaxwellau commented on #231
This seems to be more of a combination of the limitations when trying to represent a json structure as a ruby hash, and not using the dsl as intended.

@kornypoet does this need to stay open?

[2019-08-27 07:41] cmaxwellau commented on #343
@kornypoet I've written a wrapper for cfndsl and cfn_nag that picks up things like this, especially null values :)

[https://github.com/cmaxwellau/cfndsl-pipeline](https://github.com/cmaxwellau/cfndsl-pipeline)

[2019-09-01 21:32] #231 closed

[2019-09-01 22:38] stevenjack commented on #391
@gergnz Sorry I must have missed this, just noticed a push to ruby gems with my API key that the travis job is still setup with. I can add you to rubygems.org, then can we then switch around the API key in `.travis.yml` to not be mine?

[2019-09-02 02:36] gergnz commented on #391
@stevenjack my username on rubygems is gergnz. Thanks.

[2019-09-02 08:30] stevenjack commented on #391
@gergnz You've now been added 👍

[2019-09-02 09:54] #391 closed

[2019-09-04 14:44] cmaxwellau commented on #303
I'm looking at writing this and adding support for Macros at the same time.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudformation-macro.html.

AWS::CloudFormation::Macro needs to be added to resource types with schema

Top level transform will need to validate that it is a string /array of strings that consist of AWS::Include, AWS::Serverless or defined macros

[2019-09-04 14:52] cmaxwellau commented on #375
This would have to be done at the &block level. @ralovely how do you image using this in cli or native form?

[2019-09-04 14:56] cmaxwellau commented on #95
Surely this can be closed now

[2019-09-04 14:59] cmaxwellau commented on #248
Given that json is a subset of YAML, would it make sense to switch to YAML as core?

[2019-09-04 15:01] cmaxwellau commented on #250
#417 will resolve this

[2019-09-04 22:02] #95 closed

[2019-09-04 22:06] gergnz commented on #248
It could possibly make sense in 1.0 @cmaxwellau. I hadn't considered it. There is a 1.0.0.pre branch that's probably only a little bit behind master at the moment, I was waiting on some fixes from @lwoggardner to come in before considering a release. Feel free to take a stab at it. I would be very grateful.

[2019-09-05 01:59] cmaxwellau commented on #248
@gergnz I'll have a look at whats involved this week. I wrote YAML support for  [cfn2dsl](https://github.com/allinwonder/cfn2dsl/pull/19) a few weeks ago so it's pretty fresh. Native rb yaml parsing (as currently used for json->yaml) does some wierd things, so I've been directly using the underlying psych library.

[2019-09-05 04:17] gergnz commented on #248
Ahh nice. We were once looking at merging the projects. We never did though...

[2019-09-05 07:03] #414 closed

[2019-09-11 06:21] cmaxwellau opened #418 "Warning when External Yaml/JSON files share top level namespace"
I use multiple YAML files to define tag values, one global one for a customer, and one local one for the stack itself. Both share the high level namespace TagStandard, but have mergeable children.

I get the following warning:
.rvm/gems/ruby-2.4.4/gems/cfndsl-0.17.1/lib/cfndsl.rb:62: warning: already initialized constant CfnDsl::TagStandard
.rvm/gems/ruby-2.4.4/gems/cfndsl-0.17.1/lib/cfndsl.rb:62:

[2019-09-16 22:07] lwoggardner commented on #403
More than a week Is apparently more than 7 months. I still plan to work on this. Probably will remove all attempts at cyclic dependency checking. I think better to leave that to the actual cloudformation validate API.

[2019-10-03 11:28] Guslington opened #422 "fails to generate with multiple input YAML files from 0.17.3"
We have started seeing this error since the 0.17.3 release with the changes made in #420

[code]

This only seems to occur when multiple yaml files are included when generating the template.

`test.rb`

[code]

test.yaml

[code]

test2.yaml

[code]

generating template

[code]
error

[code]

I've managed to fix it by altering the `add_to_binding` method to check to see if the key is of class Hash

[2019-10-03 21:43] gergnz commented on #422
Thanks @Guslington for raising this. @cmaxwellau thoughts?

[2019-10-06 03:46] gergnz commented on #422
I see what the issue is here @Guslington. It looks like you are using a deprecated feature.
[code]

But I've actually reviewed the original PR, and believe I have an improved fix for this scenario. What I would suggest though is that you use the `--disable-binding` and include something to load your variables. e.g. to update your example:

[code]

[2019-10-06 03:53] #422 closed

[2019-11-03 11:56] #388 closed

[2019-11-04 06:42] gergnz opened #428 "VPCZoneIdentifier is always an array - 1.0.0.pre"
There is a regression that I need to come up with a small example of in 1.0.0.pre.

In an autoscaling group VPCZoneIdentifier is an array, but I have template which builds this array. CFNDSL wants to make this an array regardless, which means I end up with an array of arrays which then CloudFormation doesn't like.

/cc @lwoggardner

[2019-11-04 11:12] gergnz commented on #428
[code]

command:
[code]

0.17.4:
[code]

1.0.0.pre
[code]

not that 0.17.4 does not wrap VPCZoneIdentifier in an array, but 1.0.0.pre does.

[2019-11-04 11:19] gergnz commented on #428
https://github.com/cfndsl/cfndsl/blob/1.0.0.pre/lib/cfndsl/jsonable.rb#L60
[code]

[2019-11-04 11:22] gergnz commented on #428
@lwoggardner what were/are you trying to achieve here?

[2019-11-04 21:40] lwoggardner commented on #428
I think it is an array now because it is a List type and homogenisation of
plurals behaviour.

This is a relatively rare case where the actual cloudformation property has
a singular name for a List property.

The singular VPCZoneIdentifier adds an entry to the list. The plural
VPCZoneIdentifiers should set the value (which can thus be an expression)

I think there are tests that specifically test

[2019-11-04 21:43] lwoggardner commented on #428
nested-arrays-spec.rb line 133

[2019-11-04 21:49] lwoggardner commented on #428
The highlighted fnif code was update to track condition references as part of detecting missing or cyclic condition references.

[2019-11-04 22:03] gergnz commented on #428
Thanks.

[2019-11-04 22:03] #428 closed

[2019-11-04 22:03] lwoggardner commented on #428
This is actually the expected breaking change as a result of fixing #380

[2019-11-22 15:53] gdlx opened #429 "Boolean value with -D"
Defining a boolean value with `-D VARIABLE=false` results in a "false" string inside `external_parameters` instead of the boolean `false`.

The same variable provided in a Yaml file with `-y` results in a boolean value.

Is there a way to provide a boolean value with `-D` ?

[2019-11-24 01:00] gergnz commented on #429
This is a function of `optparse` and the shell. Everything is a string.

We could look at doing something like this:
[code]

[2019-11-25 15:43] gdlx commented on #429
I've done something like the second example.
But I don't think there are use cases where you could provide a true/false value and expect a string as a result so it may be nice for cfndsl to do it by default.

[2019-11-25 21:08] gergnz commented on #429
This is a breaking change for anyone who is doing string tests for today, so I'm reluctant to make this breaking change in the 0.x.x version. I'll look at adding it to 1.x.x

[2019-11-29 04:02] Line-Noise opened #430 "cfndsl fails with "uninitialized constant CfnDsl::AWS::Types::AWSWAFv2IPSetTag (NameError)""
After updating the specification file cfndsl 0.17.4 fails with the following message:

[code]

Amazon have updated things: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-wafv2-ipset.html

[2019-12-01 23:02] adrianmace commented on #430
+1 I am also having this issue.

[2019-12-02 19:14] gergnz commented on #430
Hi @adrianmace and @Line-Noise,

Thanks for the reports. I'll wait until the end of the week to see if there are any other services, features, etc, that are released as part of re:invent, and I will add support all in one go.

Thanks for your patience.

[2019-12-02 22:50] Line-Noise commented on #430
No problem. Pinning the version of the specification file during update is a valid workaround.

`cfndsl --update-specification 8.1.0`

[2019-12-10 09:44] sneh-shah commented on #430
+1 facing this issue

[2019-12-22 09:02] behrangsa opened #431 "undefined method `EC2_LaunchTemplate' for #<CfnDsl::CloudFormationTemplate:...> (NoMethodError)"
Out of the box compilation of this template fails:

[code]

with this error:

[code]

If I update the specification to the latest version, it will fail with:

[code]

However it is listed as a supported type:

[code]

[2019-12-22 09:07] behrangsa commented on #431
This seems to be a duplicate of https://github.com/cfndsl/cfndsl/issues/430. Closing.

[2019-12-22 09:07] #431 closed

[2019-12-23 01:08] Samseppiol commented on #430
+1

[2019-12-23 02:49] behrangsa opened #432 "gitter.im link is broken (gives 404 not found)"

[2019-12-23 03:04] behrangsa opened #433 "Where should we define custom helper methods?"
Are there any examples that show how we can define custom helper methods?

This snippet fails:

[code]

with:

[code]

How/where can we define custom helper methods such as the `foo` method here?

---

Sorry for asking here. The gitter room is not found (#432). And [this](https://gitter.im/stevenjack/cfndsl) other room seems to be inactive.

[2019-12-27 07:18] gergnz commented on #433
I guess this isn't the exact response you are looking for, but you can solve this by assigning this to a variable instead:

[code]

[2019-12-27 07:18] #433 closed

[2019-12-27 07:38] gergnz commented on #432
gitter.im login isn't working at the moment. I'll try again in a few days.

[2019-12-27 09:06] #430 closed

[2019-12-27 09:30] gergnz commented on #432
Room/Community created in Gitter.

[2019-12-27 09:30] #432 closed

[2019-12-29 06:35] PatMyron commented on #385
The CloudFormation Linter also maintains some specification patches around here:
https://github.com/aws-cloudformation/cfn-python-lint/tree/master/src/cfnlint/data/ExtendedSpecs/all

[2020-01-14 10:10] gergnz commented on #257
@lwoggardner have you experienced any issues with `1.0.0.pre.1`?

I've run a test suite across 43 known good templates.

I have a few more templates that I'll run this against as a comparison, plus a few more items to wrap up before releasing.

[2020-01-14 10:13] gergnz commented on #389
see #257

[2020-01-14 10:13] gergnz commented on #429
see #257

[2020-01-14 10:24] gergnz commented on #226
This has been removed in 1.0.0.pre branch - https://github.com/cfndsl/cfndsl/commit/be6848474561bbe3f87f8f0c45ca10f07d98964f
Closing

[2020-01-14 10:24] #226 closed

[2020-01-14 10:29] gergnz commented on #255
@lwoggardner are you happy this is all wrapped up?

[2020-01-14 10:33] gergnz commented on #418
see #257

[2020-01-14 10:33] gergnz commented on #403
see #257

[2020-01-14 10:34] #418 closed

[2020-01-14 10:34] #403 closed

[2020-01-14 10:35] #389 closed

[2020-01-14 10:35] gergnz commented on #380
see #257

[2020-01-14 10:35] #380 closed

[2020-01-14 10:38] #304 closed

[2020-01-14 10:39] #354 closed

[2020-01-14 20:52] #429 closed

[2020-01-15 08:55] gergnz commented on #257
I've run 1.0.0.pre over 167 templates from https://github.com/neillturner/cfndsl_examples (fixes here: https://github.com/gergnz/cfndsl_examples/tree/cfndsltests)

[2020-01-15 09:28] lwoggardner commented on #255
Yes

On Tue, 14 Jan 2020, 9:29 pm Greg Cockburn, <notifications@github.com>
wrote:

[2020-01-15 09:39] lwoggardner commented on #257
I ran our internal system tests against 1.0.0pre successfully.

[2020-01-15 10:25] gergnz commented on #343
see #257

[2020-01-15 10:29] #255 closed

[2020-01-15 10:30] gergnz commented on #385
see #257

[2020-01-15 10:30] #385 closed

[2020-01-16 01:44] #343 closed

[2020-01-20 22:25] adrianmace opened #442 "Possible regressions 0.17.5 -> 1.0.0"
Hi guys,

Firstly thanks for the amazing tool. Use it every day in a number of CI pipelines!

We had previously pinned to `latest` but over the last few days we were forced to pin back to `v0.17.5` due to the release of `1.0.0` and it's instant deprecation of the `--disable-binding` flag.

I am not the original code author and am looking to refactor the code to no longer require the flag, but do n

[2020-01-21 00:34] #257 closed

[2020-01-21 02:09] gergnz commented on #442
Hi @adrianmace,

The issue was raised back in #170 and then a flag was introduced in #172 and then eventually made its way into the code via #179.

We finally pulled this out in 1.0.0 as being deprecated through the late 0. series.

Ultimately it disabled unsafe behaviour. It is safe to remove the flag from pipelines or scripts if you have been setting that flag as it is now the default (in fact y

[2020-01-21 03:10] adrianmace commented on #442
That does, thank you. It means that my code is failing due to some other reason and that taking `--disable-binding` out of the pipeline is only exposing the next error in a series or perhaps many. Will continue to investigate. Thanks!

[2020-01-21 03:53] gergnz commented on #442
keep me posted as I'd like to understand any regressions please.

[2020-01-21 04:17] adrianmace commented on #442
Renaming this issue so it doesn't seem confusing. Please see the following snippet and associated CFN outputs.

Code snippet:
[code]
Cloudformation snippet:
[code]

[2020-01-21 04:41] gergnz commented on #442
Try changing `VPCZoneIdentifier` to be `VPCZoneIdentifiers` (pluralisation got quite a bit of overhaul)

[2020-01-21 04:52] adrianmace commented on #442
Before I try that, I have discovered something by generating the template using both old and new versions of `cfndsl`. It looks like the new version is handling it by putting it in a list, when it's already in one, creating a list of lists.

v0.17.5
[code]
vLatest
[code]

[2020-01-21 04:56] adrianmace commented on #442
That looks to have done it, returned the CFN template back to the correct syntax!

[2020-01-21 05:04] adrianmace commented on #442
Happy for you to close this issue! I'll raise any more but this was definitely the cause of that particular issue. Thanks for your help!

[2020-01-21 06:10] #442 closed

[2020-02-21 01:42] behrangsa opened #444 "Resources ["Foo"] refer to unknown Reference AWS::Partition"
Looks like cfndsl doesn't like the `AWS::Partition` pseudo parameter:

[code]

[2020-02-21 01:44] behrangsa commented on #444
Looks like updating the specification file fixes the problem.

[2020-02-21 01:50] behrangsa commented on #444
Not consistently:

[code]

[2020-02-21 03:00] gergnz commented on #444
When you say the Specification fixes it, but then later say it's inconsistent (with two different ruby versions) it seems they both fail? 2.6.3 just has better output?

Also:
`cfndsl -a` will give you spec version

[2020-02-21 07:47] behrangsa commented on #444
I think they both fail, irrespective of the Ruby/Spec version.

[2020-02-22 01:51] behrangsa opened #446 "Typo in README examples"
This doesn't work:

[code]

and fails with an error:

[code]

`Type` should be changed to `InstanceType`.

[2020-02-22 04:35] #444 closed

[2020-02-22 04:42] #446 closed

[2020-02-27 15:49] kidbrax opened #448 "CloudFrontOriginAccessIdentity is an undefined method"
I am trying to add a [AWS::CloudFront::CloudFrontOriginAccessIdentity](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-cloudfrontoriginaccessidentity.html) by using `CloudFrontOriginAccessIdentity` but it errors with
[code]

[2020-03-01 06:44] lwoggardner commented on #448
1.x requires fully qualified names - so ```CloudFront_CloudFrontOriginAccessIdentity```

[2020-03-05 14:20] kidbrax commented on #448
That didn't seem to work either. `undefined method 'CloudFront_CloudFrontOriginAccessIdentity'`

[2020-03-05 20:19] gergnz commented on #448
Hi @kidbrax,

Are you able to please post the output of:
`cfndsl --version`
`cfndsl -a`
`cfndsl -u`

And if possible a snippet of the code so I can reproduce it.
Thanks.

[2020-03-12 16:25] otakusid opened #449 "Issue with DSL generation from cli arguments"
I use cfndsl v.: 1.0.2 and when I try to generate DSL for CloudFormation resource type - receive an error `runner.rb:69:in 'block (2 levels) in invoke!: undefined method '<<' for nil:NilClass (NoMethodError)`

[code]

[2020-03-12 20:41] gergnz commented on #449
Thanks for reporting this, I'll take a look.

[2020-03-12 21:14] #449 closed

[2020-04-21 15:22] gdlx opened #453 "unknown type AWSResourceGroupsGroupJson"
When updating the specifications file to a version >= 12.0.0, I receive the following error:
[code]

My `test.rb` file is as simple as that:
[code]

When trying with a version < 12.0.0, I get no error:
[code]

I have the same issue with 13.0.0 which is the latest  version. I just checked 11 & 12 to find when it stopped working.

[2020-04-21 21:28] gergnz commented on #453
Thanks @gdlx I'll take a look.

[2020-04-23 21:23] #453 closed

[2020-05-28 06:04] gregwork opened #455 "Shorthand method of accessing resource attributes via FnSub fails reference checks"
CloudFormations `Fn::Sub` intrinsic allows for a shorthand notation when accessing resource attributes.

From the [documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-sub.html):

When using the reproduction case below with cfndsl, this shorthand form of notation causes the template build to fail with the following error:
[code]

Reproduction c

[2020-05-30 04:14] lwoggardner commented on #455
I will have a look at this. Validation of references is tighter in 1.0

[2020-05-31 22:25] #455 closed

[2020-07-16 00:09] pkumaschow opened #459 "Outdated assertion in Readme"
Cloudformation templates can also be specified using Yaml which does allow comments.

[2020-07-24 04:54] zsyk899 opened #460 "SecurityGroupIngress is always an array - 1.1.1"
Hi,

We use the following code snippet to create a security group
[code]
but the generated CF template looks like:
[code]
The input of SecurityGroupIngress becomes a nested list.

The expected template should be
[code]

I noticed similar issue was raised previously at https://github.com/cfndsl/cfndsl/issues/442, but I couldn't find a way to make the `SecurityGroupIngress` plural.

Can I please hav

[2020-07-25 02:14] lwoggardner commented on #460
SecurityGroupIngress and SecurityGroupEgress are special case plural because its singlular name is the same as its plural name.

The behaviour of these is one of the inconsistencies resolved in 1.x

To use a non array value for such a property you can use the #Property method.

[code]

[2020-07-26 08:36] lwoggardner opened #464 "Task: Generate types from CloudFormation resource registry schemas"
With new 3rd party types being defined in the the cloudformation registry, CfnDSL should be able to use these type schemas either dynamically (requires AWS creds) or offline (from a directory of schema files) and then create DSL objects.

One issue is that the prefix for types can now be a 3rd party.  ie EC2_Instance is actually AWS::EC2::Instance and now we have possibility of Provider::ResourceC

[2020-07-26 10:03] lwoggardner commented on #68
This was fixed in 1.x which requires explicit top level names

[2020-07-26 10:12] lwoggardner commented on #117
@gergnz - this looks like it can be closed given current capabilities of rake task and cfndsl executable.

I'm not sure it makes sense at this point to define yet another static template format to drive the dsl.

[2020-07-26 10:16] lwoggardner commented on #118
@gergnz - I think this can be achieved with current rake task and cfndsl executable.  ie common external config objects and including code the master and nested stacks can be generated in one step.

[2020-07-26 10:20] lwoggardner commented on #222
I think this is superceded by the fact we generate types from the AWS provided spec.

[2020-07-26 10:27] lwoggardner commented on #232
I think we covered whatever was left for this in the 1.x work with further validation of functions.

[2020-07-26 10:49] lwoggardner commented on #248
The rake task in 1.x can *generate* yaml output - although it does that by calling to_json, then parsing the result into plain ruby objects, and then calling YAML.dump on that.  It does not use the special yaml syntax for Fn functions, nor can it carry comments.

We could rename JSONable to Templateable or similar, and implement corresponding to_yaml methods  but there is little support in Psych/Y

[2020-07-26 10:51] lwoggardner commented on #250
Was this resolved by #417

[2020-07-26 10:56] lwoggardner commented on #259
This has always been possible (as commented above by @ampedandwired) because the DSL is just ruby and ruby already has the ability to load code via 'require'.
This is clearer now with the documentation for embedded ruby usage in the README so I think this one can be closed.

[2020-07-26 10:59] lwoggardner commented on #375
Feels like this can be done already through the various embedded ruby techniques discussed in the README of 1.x

[2020-07-26 22:52] zsyk899 commented on #460
Thank you very much! It did the trick.

[2020-07-26 22:52] #460 closed

[2020-07-27 21:13] #259 closed

[2020-07-27 21:14] #68 closed

[2020-07-27 21:15] #117 closed

[2020-07-27 21:17] #118 closed

[2020-07-27 21:18] #222 closed

[2020-07-27 21:18] #232 closed

[2020-07-27 21:20] #248 closed

[2020-07-27 21:21] #250 closed

[2020-07-27 21:26] #63 closed

[2020-07-28 19:25] kidbrax commented on #448
I updated my version of cfndsl and this worked fine.

[2020-07-28 19:25] #448 closed

[2020-07-29 23:03] gergnz commented on #459
Thanks for raising this @pkumaschow. Updated in v1.2.0.

[2020-07-29 23:03] #459 closed

[2020-07-29 23:04] #375 closed

[2020-09-07 10:02] lwoggardner commented on #303
Thinking about this.

Transform is already supported at template level
Aws::CloudFormation::Macro is handled in the schema

There is no special handling for Fn::Transform anywhere
There is no special handling for specific transform parameters such as AWS::Include and there is no AWS schema for describing transform parameters.

What would Fn::Transform look like?
[code]

Is anybody using Fn::Transf

[2020-11-23 15:13] gdlx opened #466 "Freeze specifications version"
Each time I'm looking if cloud formation specifications have been updated (and each time they have been), I need to find which is the latest version working with CfnDsl (by looking at latest commits or groping for it).

I think it is useless to make CfnDsl update to the latest version by default knowing it ~ never works with the latest version.

At the time of writing this, the latest version is 2

[2020-11-27 03:39] gergnz commented on #466
Hi @gdlx , thanks for reporting this. We welcome pull requests to resolve these issues, but I have thought about an automated test process that runs regularly to pull the latest specification down and test that it works.

Let me take a look at both options and see how we go.

[2020-12-01 09:47] gdlx commented on #466
Your solution sounds way better than freezing the version so I'll close it. I've already frozen the version on my project so having a fast way to know the last compatible version would fit my needs.

[2020-12-01 09:47] #466 closed

[2021-06-25 04:37] lwoggardner opened #470 "Allow ruby versions until eol"
current gemspec was updated to require ruby >2.7  but 2.6 is still in security maintenance mode, so I think we should support ruby versions until eol.

(this prob means an extra ruby to test in travis)

eg amazon-linux-extras on Amazon Linux 2 only provides Ruby 2.6 and Ruby 3.0

[2021-06-25 23:32] #470 closed

[2021-08-28 12:05] rochi1 opened #473 "Missing Support for the TimeZone property of AWS::AutoScaling::ScheduledAction"
The TimeZone property is missing from AWS::AutoScaling::ScheduledAction

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-as-scheduledaction.html#cfn-as-scheduledaction-timezone

 undefined method `TimeZone' for #<CfnDsl::AWS::Types::AWS_AutoScaling_ScheduledAction:0x000000000737e130> (NoMethodError)

[2021-08-29 00:15] gergnz commented on #473
That's strange. It's in the spec that's supplied.

Do you have example code snippet that's failing?

[2022-05-12 23:49] Guslington opened #474 "List ItemType in the specification file breaking template generation with spec version 69.0.0"
AWS has introduced a List ItemType in the specification file for the `PolygonRegionsOfInterest` property in the `AWS::Rekognition::StreamProcessor` resource in spec version `69.0.0`

[code]

The issues causes the following error

[code]

[2022-05-16 10:52] gergnz commented on #474
Released in #1.3.4.

[2022-05-16 10:52] #474 closed

[2022-05-17 05:07] asydneyman opened #476 "AWS::CloudFormation::Interface"
Is there support for cfndsl AWS::CloudFormation::Interface in cfndsl?

[2022-05-17 05:19] gergnz commented on #476
Is there a specific issue you are seeing? We get our definition from the Cloudformation definition file that the AWS team provides on a regular basis.

[2022-05-17 05:27] asydneyman commented on #476
Hi,

I am developing a cloudformation product for service-catalog. I need to organize parameters by grouping and ordering. I need AWS::CloudFormation::Interface to do that.

Thanks

[2022-05-17 05:35] gergnz commented on #476
I see, it's a metadata key: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudformation-interface.html

Off the top of my head, I don't think it does. Feel free to raise a PR.

[2022-05-17 06:01] asydneyman commented on #476
Sure.. Which file can I edit?

[2022-06-23 03:50] asydneyman opened #479 "Missing AWS::ElasticLoadBalancingV2::LoadBalancer SubnetMapping"
AWS::ElasticLoadBalancingV2::LoadBalancer SubnetMapping is missing in CfnDSL

Please add

[2022-06-23 04:51] elmobp commented on #479
Try update the spec? ```cfndsl -u```

[2022-06-30 01:37] gergnz commented on #479
This is in the version of the spec that I'm using.

`cfndsl -a` == 78.0.0

[code]

[2022-06-30 01:37] #479 closed